---js
{
  layout: "full-width",
  permalink: "/courses/gym-shorts/",
  meta: {
    title: "Courses",
    sitemapPriority: 0.7,
    sitemapChangeFreq: "weekly",
    bodyClass: "courses courses-gym-shorts",
  },
  eleventyComputed: {
    meta: {
      img: (data) => {
        return `${data.config.paths.img.og}courses/index.png`;
      },
    }
  },
  collection: "course",
  nav: {
    secondary: "courses",
    parent: "/courses/",
  }
}
---
{%- set header = pages['gym_shorts'].header -%}
{%- set info = pages['gym_shorts'].info -%}
{%- include 'modules/courses/header.njk' -%}

<div class="container">

  {%- include 'modules/courses/topic-select-fragments.njk' -%}

  <div id="topics" class="topics">

    {%- include 'modules/courses/topic-menu.njk' -%}

    <article class="topic-listing">
      <h2 class="topic-label" aria-hidden="true"><span>All Topics</span></h2>
      <ul class="courses">
      {% for course in collections.live_courses_short | reverse %}
        {%- set module = course -%}
        {%- include 'modules/panels/course.njk' -%}
      {% endfor %}
      </ul>
    </article>

  </div><!--.topics-->
</div><!--.container-->
