{%- if module -%}
<section class="{{ module.wrapper_class }}-featured">
  <div class="container">
    {%- if module.header -%}
      {%- set header = module.header -%}
      {%- include 'modules/components/header.njk' -%}
    {%- endif -%}

    <ul class="list-unstyled">
      {%- for idx in range(0, module.items.length) -%}
        {%- if module.items[idx].id -%}
          {%- set id = module.items[idx].id | upper -%}
        {%- else -%}
          {%- set id = module.items[idx] | upper -%}
        {%- endif -%}

        {%- set filteredId = collections.catalog | get_key(module.items[idx].id) -%}

        {%- set obj = collections.catalog[filteredId] -%}


        {%- set path = obj.id | get_path -%}
        {%- set title = obj.title | strip_html -%}
        {%- set description = obj.description -%}

        {%- if obj.slug -%}
          {%- set slug = obj.slug -%}
        {%- else -%}
          {%- set slug = title | slugify -%}
        {%- endif -%}

        {%- set shortId = obj.id -%}
        {%- set type = obj.type -%}

        {%- set src = obj.img -%}

        {%- set destUrl = "" -%}
        {%- if type == 'webinar' -%}
          {%- set destUrl = '/webinars/' + obj.slug -%}
          {%- set src = '/img/og/webinars/' + obj.recording_ogimage -%}
        {%- elif type == 'short' or type == 'full' -%}
          {%- set destUrl = '/courses/' + obj.title | slugify + '/' -%}
        {%- elif type == 'tutorial' -%}
          {%- set destUrl = '/courses/take5/' + obj.title | slugify + '/' -%}
        {%- else -%}
          TYPE IS SOMETHING ELSE
        {%- endif -%}
        {%- set srcSet = src -%}
        {%- set bg_color = "bg-mono-700" -%}
        {%- if obj.color -%}
          {%- set bg_color = "bg-" + obj.color -%}
          {%- if obj.color == 'grey' -%}
            {%- set bg_color = "bg-mono-700" -%}
          {%- endif -%}
        {%- endif -%}
        <li>
          <article class="featured-item" id="featured-{{ type }}-{{ obj.id | lower }}">
            <figure class="{{ bg_color }}">
              <a href="{{ destUrl }}">
                <img alt="Image for {{ title }}." src="{{ src | replace('svg', 'png') }}" srcset="{{ srcSet }}" width="574"  height="488" decoding="asyc" fetchpriority="low">
              </a>
            </figure>
            <header>
              {%- if obj["topic"] -%}
              {%- endif -%}
              <hgroup>
                <p class="topic caps"><b>{{ obj["topic"] }}</b></p>
                {%- if obj["title"] -%}
                <a href="{{ destUrl }}">
                  <h2 class="title caps">{{ obj["title"] | strip_html }}</h2>
                </a>
                {%- endif -%}
              </hgroup>
              {%- if obj["instructor"] -%}
                <dl class="instructor">
                  <dt class="byline"><b>with {{ bios[obj["instructor"]].name }}</b></dt>
                  <dd>{{ bios[obj["instructor"]].subtitle }}</dd>
                </dl>
              {%- endif -%}
            </header>
            <div class="info" hidden>
              {%- if obj["description"] -%}
                <p class="description">{{ obj["description"] }}</p>
              {%- endif -%}
            </div>
            <div class="cta">
              <a class="btn" href="{{ destUrl }}">Learn More</a>
            </div>
          </article>
        </li>
      {%- endfor -%}
    </ul>
    {%- if module.description -%}
      <p>{{ module.description | safe }}</p>
    {%- endif -%}

    {%- if module.cta -%}
      <div class="cta">
        {%- if module["cta"]["description"] -%}
          <p class="description">{{ module["cta"]["description"] | safe }}</p>
        {%- endif -%}
        <a class="btn" href="{{ module.cta.href }}">{{ module.cta.label }}</a>
      </div>
    {%- endif -%}
  </div>
</section>

{%- else -%}
  <em>{ Featured Course Module Placeholder }</em>
  <p>Pass in the `module` variable to make this work</p>
{%- endif -%}
