{%- if module -%}
{%- set section_class = "" -%}

{%- if item.meta.slug -%}
  {%- set section_class = item.meta.slug -%}
{%- endif -%}
<section class="featured {{ section_class }}">
  {%- if module.header -%}
    {%- set header = module.header -%}
    {%- include 'modules/components/header.njk' -%}
  {%- endif -%}

  <ul class="unstyled-list">
    {%- for item in module.items -%}
      {%- set cta_text = "Learn More" -%}
      {%- if item.id -%}
        {%- set id = module.items[idx].id | upper -%}
        {%- set filteredId = collections.catalog | get_key(item.id) -%}
        {%- set obj = collections.catalog[filteredId] -%}

        {%- set path = obj.id | get_path -%}
        {%- set title = obj.title | strip_html -%}
        {%- set description = obj.description -%}

        {%- if obj.slug -%}
          {%- set slug = obj.slug -%}
        {%- else -%}
          {%- set slug = title | slugify -%}
        {%- endif -%}

        {%- set shortId = obj.id -%}
        {%- set type = obj.type -%}
        {%- set category = type  | capitalize + "s" -%}

        {%- set src = obj.img -%}

        {%- set destUrl = "" -%}
        {%- if type == 'livestream' -%}
          {%- set cta_text = "Watch Now" -%}
          {%- set destUrl = 'https://www.youtube.com/watch?v=' + obj.video_id -%}
          {%- set src = obj.img  -%}
        {%- elif type == 'webinar' -%}
          {%- set cta_text = "Watch Now" -%}
          {%- set destUrl = '/webinars/' + slug + "/" -%}
          {%- set src = '/img/og/webinars/' + obj.recording_ogimage -%}
        {%- elif type == 'short' or type == 'full' -%}
          {%- set category = "Courses" -%}
          {%- set cta_text = "Get Started" -%}
          {# {%- set destUrl = shortId | course_endpoint('course_about') -%} #}
          {%- set destUrl = "/courses/" + slug + "/" -%}
        {%- elif type == 'tutorial' -%}
          {%- set cta_text = "Watch Now" -%}
          {%- set destUrl = '/courses/take5/' + slug + "/" -%}
        {%- else -%}
          TYPE IS SOMETHING ELSE
        {%- endif -%}
        {%- set srcSet = src -%}
      {%- elif item.link -%}
        {%- set src = item.img -%}
        {%- set title = item.title -%}
        {%- set destUrl = item.link-%}
        {%- set category = item.type | capitalize + "s" -%}
      {%- endif -%}

      {# Allow overriding CTA text via cta_link set in featured.yml #}
      {%- if item.cta_text -%}
        {%- set cta_text = item.cta_text -%}
      {%- endif -%}

      {%- set category_link_text = "View more " + category -%}

      <li>
        <article class="featured-card" id="featured-{{ type }}-{{ obj.id | lower }}">
          <div>
            <p class="topic"><b>{{ category }}</b></p>
            <figure {% if obj.type == 'full' or obj.type == 'short' %}style="border-image-source: url({{ src }});" {% endif %}>
              <a href="{{ destUrl }}">
                <img alt="{{ title }} course illustration." src="{{ src }}" width="" height="" decoding="async" fetchpriority="high">
              </a>
            </figure>
            <header>
            {%- if title -%}
              <a href="{{ destUrl }}">
                <h3>{{ title }}</h3>
              </a>
            {%- endif -%}
            </header>
            <div class="cta">
              <a class="btn" href="{{ destUrl }}">{{ cta_text }}</a>
            </div>
          </div>
          <footer>
            <b>
            {%- if item.footer.cta -%}
              <a href="{{ item.footer.cta.href }}" {%- if 'https' in item.footer.cta.href -%}target="_blank" rel="nooperner"{%- endif -%}>{{ item.footer.cta.label }}</a>
              {%- else -%}
              <a href="#{{ category | lower }}">{{ category_link_text | title }}</a>
            {%- endif -%}
            </b>
          </footer>
        </article>
      </li>
    {%- endfor -%}
  </ul>
  {%- if module.description -%}
    <p>{{ module.description | safe }}</p>
  {%- endif -%}

  {%- if module.cta -%}
    {%- if module.cta.description -%}
      <p>{{ module.cta.description | safe }}</p>
    {%- endif -%}
    <a class="btn" href="{{ module.cta.href }}">{{ module.cta.label }}</a>
  {%- endif -%}
</section>

{%- else -%}
  <em>{ Featured Course Module Placeholder }</em>
  <p>Pass in the `module` variable to make this work</p>
{%- endif -%}
