---js
{
  layout: "full-width",
  permalink: "/courses/take5/",
  meta: {
    title: "Take 5 Tutorials",
    sitemapPriority: 0.7,
    sitemapChangeFreq: "weekly",
    bodyClass: "courses courses-take5",
  },
  eleventyComputed: {
    meta: {
      img: (data) => {
        return `${data.config.paths.img.og}tutorials/index.png`;
      },
    }
  },
  nav: {
    secondary: "courses",
    parent: "/courses/",
    secondaryParent: "/courses/take5/"
  }
}
---
{%- set header = pages['take5'].header -%}
{%- set info = pages['take5'].info -%}
{%- include 'modules/courses/header.njk' -%}

<div class="container">

  {%- include 'modules/courses/topic-select-fragments.njk' -%}

  <div id="topics" class="topics">

    {%- include 'modules/courses/topic-menu.njk' -%}

    <article class="topic-listing">
      <h2 class="topic-label" aria-hidden="true"><span>All Topics</span></h2>
      <ul class="courses tutorials">
        {% for tutorial in collections.live_tutorials | reverse %}
          {%- set module = tutorial -%}

          {%- set fetchpriority = "low" %}
          {%- if loop.index <= 4 %}
            {%- set fetchpriority = "high" %}
          {% endif %}

          {%- include 'modules/panels/tutorial.njk' -%}

        {% endfor %}
      </ul>
    </article>

  </div><!--.topics-->
</div><!--.container-->
