---js
{
  layout: "main.njk",
  layoutClass: "bg-mono-100",
  pagination: {
    data: "tutorials",
    size: 1,
    alias: "item",
    resolve: "values",
    before: (data) => {
      const items = data.filter(x => x.tags.includes('tutorial'));
      // console.log(items);
      return items;
    },
    addAllPagesToCollections: true,
  },
  permalink: "courses/take5/{{ item.title | slugify }}/",
  nav: {
    secondary: "courses",
    parent: "/courses/",
    secondaryParent: "/courses/take5/",
  },
  eleventyComputed: {
    meta: {
      title: "{{ item.title }} | Take 5 Tutorials",
      description: "{{ item.description | strip_html }}",
      img: (data) => {
        return `${data.config.paths.img.og}tutorials/${data.item.id.toLowerCase()}.png`;
      },
      sitemapDate: "{{ item.date.toISOString() }}",
      sitemapExclude: (data) => {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
      css: (data) => {
        const item = data.item.enable_syntax_highlighting ? "https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" : false;
        return item;
      },
      js: (data) => {
        const item = data.item.enable_syntax_highlighting ? "https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" : false;
        return item;
      },
    },
  },
}
---
{# Set fallbacks for missing bio YAML #}
{#- TODO: seems a bit redundant to have an additional bio fields inside the tutorial data file. Ideally, all of that info would just be pulled from the instructor bios data files. Let's discuss. -#}
{%- set instructor = item.instructor -%}
{%- if bios[instructor] -%}
  {%- set instructor = bios[instructor].name -%}
{%- endif -%}
{%- set instructor_blurb = instructor -%}
{%- if item.instructor_bio -%}
  {%- set instructor_blurb -%}
    with {{ instructor}}, {{ item.instructor_bio }}
  {%- endset -%}
{%- endif -%}

<article id="{{ item.id | slugify }}" class="courses tutorial-detail bg-mono-100">
  <header>
    <hgroup>
      <p class="topic"><b><a href="/courses/take5/#{{ item.topic | slugify }}">{{ item.topic }}</a></b></p>
      <h1 class="title">{{ item.title }}</h1>
      <p class="instructor">{{ instructor_blurb | safe }}</p>
    </hgroup>
    <p class="description">{{ item.description }}</p>
  </header>

  {# Note: this a custom shortcode that wraps the video in a div. Find it in
  ./11ty.config/shortcodes.js #}
  {%- if item.video_id -%}
    {%- youtube item.video_id, item.title -%}
  {%- endif -%}

  {# TODO: current markdown plugin doesn't support kramdown style features, like link attributes. #}
  {% set transcript = "./src/_includes/md/transcripts/" + item.id + ".md" %}
  {%- if transcript | file_exists -%}
  <details class="resources" id="tutorial-transcript">
    <summary class="gym-summary-link" aria-expanded="true/false" tabindex="0" role="button"><span>Video Transcript</span></summary>
    <article class="transcript" id="{{ item.id }}-transcript">
      <header class="visually-hidden">
        <h2>{{ item.title }}</h2>
        <p>{{ instructor_blurb }}</p>
      </header>

      {% renderFile transcript, "njk" %}

      {%- back_to 'footer', 'main', 'Back to Tutorial' -%}
    </article>
  </details>
  {%- endif -%}

  {%- if item.project_files or item.related_content -%}
  <aside class="resources" id="tutorial-resources">
    <div>
      <h3>Resources</h3>
      {%- if item.project_files -%}
      <div class="project-files">
        <header>
          <h4>Project Files</h4>
          {%- if item.project_file_source -%}<p>on {{ item.project_file_source }}</p>{%- endif -%}
        </header>
        <ul>
          {%- for file in item.project_files -%}
          <li>
            <a href="{{ file.url }}" target="_blank" rel="noopener">{{ file.label }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}

      {%- if item.related_content -%}
      <div class="related">
        <header>
          <h4>Related Content</h4>
        </header>
        <ul>
        {%- for link in item.related_content -%}
          {%- set attr -%} target="_blank" rel="noopener"{% endset -%}
          {%- if not 'http' in link.url -%}
            {%- set attr = "" -%}
          {%- endif -%}
          <li>
            <a href="{{ link.url }}"{{ attr }}>{{ link.label }}</a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
    </div>
    {%- endif -%}
  </aside>
  {%- endif -%}

  {# TODO: probably don't need this here, but I put it here as a reference of how
  to accomplish this. #}

  <!--
  {%- if bios[item.instructor] -%}
  <aside>
    <h3>Meet the Instructor</h3>

    <img src="{{ config.urls.root }}/img/webinar-bio-headshots/{{ bios[item.instructor].img }}" alt="Headshot of {{ bios[item.instructor].name }}" decoding="async" fetchpriority="low" width="" height="">

    <p>{{ bios[item.instructor].description | safe }}</p>

    {%- if bios[item.instructor].extended_description -%}
      {{ bios[item.instructor].extended_description | safe }}
    {%- endif -%}
  </aside>
  {%- endif -%}
  -->

  {%- back_to 'footer', 'main', 'Back to Tutorial' -%}
</article>
