---
layout: main.njk
permalink: /debug/courses/
meta:
  sitemapExclude: true
eleventyExcludeFromCollections: true
---
<h1>Course List Debugger</h1>
<ul>
{%- for id, course in courses -%}
<li>{{ course.id }} - <a href="/courses/{{ course.title | slugify }}/">{{ course.title }}</a>
  <ul>
    <li>active: {{ course.live }}</li>
  </ul>
</li>
{%- endfor -%}
</ul>