---js
{
  meta: {
    sitemapExclude: true,
    title: "Courses Debug",
  },
  eleventyComputed: {
    // Hide page from production
    layout: (data) => {
      const item = data.config.env.ELEVENTY_ENV === 'production' ? false : "main";
      return item;
    },
    // Hide page from production
    permalink: (data) => {
      const item = data.config.env.ELEVENTY_ENV === 'production' ? false : "/debug/courses/";
      return item;
    },
  },
  eleventyExcludeFromCollections: true,
}
---
<h1>Course List Debugger</h1>
<ul>
{%- for id, course in courses -%}
<li>{{ course.id }} - <a href="/courses/{{ course.title | slugify }}/">{{ course.title }}</a>
  <ul>
    <li>active: {{ course.live }}</li>
  </ul>
</li>
{%- endfor -%}
</ul>
