---js
{
  meta: {
    sitemapExclude: true,
  },
  eleventyComputed: {
    meta: {
      title: (data) => {
        return data.pagedata.title;
      },
    },
    pagedata: (data) => {
      const item = data.data.pages.filter(x => x.slug === 'privacy-policy');
      return item[0];
    },
    // Hide page from production
    layout: (data) => {
      const item = data.config.env.ELEVENTY_ENV === 'production' ? false : "main";
      return item;
    },
    // Hide page from production
    permalink: (data) => {
      const item = data.config.env.ELEVENTY_ENV === 'production' ? false : "/debug/example/";
      return item;
    },
  },
  eleventyExcludeFromCollections: true,
}
---
{{ pagedata.content | safe }}
