---
layout: layouts/main.njk
permalink: /debug/jobs/
meta:
  title: Jobs
  sitemapExclude: true
eleventyExcludeFromCollections: true
---
<section class="section" id="jobs">
  <h1>Jobs Debug</h1>
  {%- include 'modules/jobs.njk' -%}
</section>
