<nav class="topic-menu">
  <div>
    <h2>Explore</h2>
    <ul>
      <li><a href="#all-topics">All Topics</a></li>
      <li><a href="#featured">Featured</a></li>
    </ul>
    <ul>
      <li><a href="#design">Design</a></li>
      <li><a href="#development">Development</a></li>
      <li><a href="#ux">UX</a></li>
      <li><a href="#prototyping">Prototyping</a></li>
      <li><a href="#accessibility">Accessibility</a></li>
      <li><a href="#career-skills">Career Skills</a></li>
    </ul>
  </div>
</nav>
