@use "sass:map";
@use "base/breakpoints" as *;
@use "base/functions" as *;
@use "base/mixins" as *;
@use "base/fonts" as *;

// cleanup later
/*! CSS Used from: https://apps.learn.gymnasium.day/learning/app.a49f912aea5a90c1f158.css */

.course-tabs-navigation {
  padding: 1rem 0;
  font-weight: normal;

  .nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    flex-wrap: nowrap;
  }

  .nav-underline-tabs {
    margin: 0 0 -1px;

    .nav-link {
      border-bottom: 4px solid var(--mono-1000);
      border-left: 0;
      border-radius: 0;
      border-right: 0;
      border-top: 4px solid var(--mono-1000);
      color: #454545;
      display: block;
      flex-shrink: 0;
    }
  }
}


.nav-underline-tabs {
  margin: 0 0 -1px;
}
.nav-underline-tabs .nav-link {
  border-bottom: 4px solid var(--mono-1000);
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 4px solid var(--mono-1000);
  color: #454545;
}
.nav-underline-tabs .nav-link.active,
.nav-underline-tabs .nav-link:focus,
.nav-underline-tabs .nav-link:hover {
  border-bottom-color: var(--primary-500);
  color: var(--primary-500);
  font-weight: 400;
}

nav {
  display: block;
}





button {
  overflow: visible;
}
button {
  text-transform: none;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.h-100 {
  height: 100%;
}
.mb-3 {
  margin-bottom: 1rem;
}
@media print {
  *,
  :after,
  :before {
    box-shadow: none;
    text-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
}


.dropdown {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  border-bottom: 0;
  border-left: 0.3em solid var(--mono-1000);
  border-right: 0.3em solid var(--mono-1000);
  border-top: 0.3em solid;
  display: inline-block;
  vertical-align: 0.255em;
}
.dropdown-toggle:after {
  margin-left: 0.255em;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-toggle:after {
  border: 0;
  border-style: solid;
  content: "";
  height: 0.45rem;
  margin-inline-start: 0.5em;
  position: relative;
  top: -0.05rem;
  width: 0.45rem;
}
.dropdown-toggle:after {
  border-width: 0.15rem 0.15rem 0 0;
  transform: rotate(135deg);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}
.nav {
  padding-left: 0;
}
.nav-link {
  color: #454545;
  display: block;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.nav-link:focus,
.nav-link:hover {
  color: #454545;
  text-decoration: none;
}

.course-tabs-navigation {
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.course-tabs-navigation .nav a:hover,
.course-tabs-navigation .nav button:hover {
  background-color: #e9e6e4;
}
.course-tabs-navigation .nav a:not(.active):hover {
  background-color: #e9e6e4;
  border-bottom: none;
}
.course-tabs-navigation__search-toggle {
  position: absolute;
  top: 0.05rem;
}
.course-tabs-navigation__search-toggle {
  right: 0;
}

nav {
  display: block;
}





button {
  overflow: visible;
}
button {
  text-transform: none;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.h-100 {
  height: 100%;
}
.mb-3 {
  margin-bottom: 1rem;
}
@media print {
  *,
  :after,
  :before {
    box-shadow: none;
    text-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
}


.dropdown {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  border-bottom: 0;
  border-left: 0.3em solid var(--mono-1000);
  border-right: 0.3em solid var(--mono-1000);
  border-top: 0.3em solid;
  display: inline-block;
  vertical-align: 0.255em;
}
.dropdown-toggle:after {
  margin-left: 0.255em;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-toggle:after {
  border: 0;
  border-style: solid;
  content: "";
  height: 0.45rem;
  margin-inline-start: 0.5em;
  position: relative;
  top: -0.05rem;
  width: 0.45rem;
}
.dropdown-toggle:after {
  border-width: 0.15rem 0.15rem 0 0;
  transform: rotate(135deg);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}
.nav {
  padding-left: 0;
}
.nav-link {
  color: #454545;
  display: block;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.nav-link:focus,
.nav-link:hover {
  color: #454545;
  text-decoration: none;
}

