@use "sass:map";
@use "base/breakpoints" as *;
@use "base/functions" as *;
@use "base/mixins" as *;
@use "base/fonts" as *;

// cleanup later
/*! CSS Used from: https://apps.learn.gymnasium.day/learning/app.a49f912aea5a90c1f158.css */

hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}


hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.bg-primary {
  background-color: var(--primary-500);
}
.border-light {
  border-color: #e1dddb;
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem;
}
.mx-1 {
  margin-right: 0.25rem;
}
.my-1 {
  margin-bottom: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
}
.py-3 {
  padding-bottom: 1rem;
}
.pl-3 {
  padding-left: 1rem;
}
.text-white {
  color: #fff;
}
@media print {
  *,
  :after,
  :before {
    box-shadow: none;
    text-shadow: none;
  }
}

.btn-inverse-outline-primary {
  border-color: var(--mono-100);
  color: var(--mono-100);
}
.btn-inverse-outline-primary:hover {
  background-color: #f0f3f5;
  border-color: var(--mono-1000);
  color: #082644;
}
.btn-inverse-outline-primary:disabled {
  background-color: var(--mono-1000);
  border-color: var(--mono-100);
  color: var(--mono-100);
}
.btn-inverse-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #f0f3f5;
  border-color: var(--mono-1000);
  color: #454545;
}
.btn-inverse-outline-primary:focus {
  box-shadow: none;
  outline: 0;
  position: relative;
}
.btn-inverse-outline-primary:focus:before {
  border: 2px solid var(--mono-100);
  border-radius: calc(0.375rem + 4px);
  bottom: -5px;
  content: "";
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
}
.btn-inverse-outline-primary:focus:active:before {
  opacity: 0.75;
}
.btn-inverse-outline-primary:focus:disabled:before {
  display: none;
}


hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}


hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-auto {
  position: relative;
  width: 100%;
}
.col-auto {
  flex: 0 0 auto;
  max-width: 100%;
  width: auto;
}
.bg-primary {
  background-color: var(--primary-500);
}
.border-light {
  border-color: #e1dddb;
}
@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem;
}
.mx-1 {
  margin-right: 0.25rem;
}
.my-1 {
  margin-bottom: 0.25rem;
}
.mx-1 {
  margin-left: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
}
.py-3 {
  padding-bottom: 1rem;
}
.pl-3 {
  padding-left: 1rem;
}
.text-white {
  color: #fff;
}
@media print {
  *,
  :after,
  :before {
    box-shadow: none;
    text-shadow: none;
  }
}

.btn-inverse-outline-primary {
  border-color: var(--mono-100);
  color: var(--mono-100);
}
.btn-inverse-outline-primary:hover {
  background-color: #f0f3f5;
  border-color: var(--mono-1000);
  color: #082644;
}
.btn-inverse-outline-primary:disabled {
  background-color: var(--mono-1000);
  border-color: var(--mono-100);
  color: var(--mono-100);
}
.btn-inverse-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #f0f3f5;
  border-color: var(--mono-1000);
  color: #454545;
}
.btn-inverse-outline-primary:focus {
  box-shadow: none;
  outline: 0;
  position: relative;
}
.btn-inverse-outline-primary:focus:before {
  border: 2px solid var(--mono-100);
  border-radius: calc(0.375rem + 4px);
  bottom: -5px;
  content: "";
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
}
.btn-inverse-outline-primary:focus:active:before {
  opacity: 0.75;
}
.btn-inverse-outline-primary:focus:disabled:before {
  display: none;
}


// dropdown
/*! CSS Used from: https://apps.learn.gymnasium.day/learning/app.a49f912aea5a90c1f158.css */




.dropdown-menu {
  background-clip: padding-box;
  background-color: var(--mono-100);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  color: #454545;
  display: none;
  font-size: 1.125rem;
  list-style: none;
  margin: 0.125rem 0 0;
  min-width: 18rem;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu {
  float: left;
  left: 0;
  text-align: left;
}
.dropdown-menu[x-placement^="bottom"] {
  bottom: auto;
}
.dropdown-menu[x-placement^="bottom"] {
  right: auto;
}
.dropdown-item {
  background-color: var(--mono-1000);
  border: 0;
  clear: both;
  color: #212529;
  display: block;
  font-weight: 400;
  padding: 0.25rem 1rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f0eeed;
  color: #16181b;
  text-decoration: none;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-500);
  color: var(--mono-100);
  text-decoration: none;
}
.dropdown-item:disabled {
  background-color: var(--mono-1000);
  color: #707070;
  pointer-events: none;
}
.dropdown-menu.show {
  display: block;
}
.pgn__dropdown-item {
  align-items: center;
  display: flex;
}
