@use "sass:map";
@use "base/breakpoints" as *;
@use "base/functions" as *;
@use "base/mixins" as *;
@use "base/fonts" as *;

// Cleanup later
/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-fw {
  width: var(--fa-fw-width, 1.25em);
}
.fa-fw {
  text-align: center;
  width: 1.25em;
}

/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-fw {
  width: var(--fa-fw-width, 1.25em);
}
.fa-fw {
  text-align: center;
  width: 1.25em;
}

/*! CSS Used from: https://apps.learn.gymnasium.day/learning/app.a49f912aea5a90c1f158.css */
// .raised-card {
//   border: 0;
//   box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
// }

svg {
  vertical-align: middle;
}
svg {
  overflow: hidden;
}

button {
  overflow: visible;
}
button {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.list-unstyled {
  list-style: none;
}
.list-unstyled {
  padding-left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col,
.col-10,
.col-12,
.col-6,
.col-7,
.col-auto,
.col-md-4,
.col-md-8,
.col-md-auto {
  position: relative;
  width: 100%;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  flex: 0 0 auto;
  max-width: 100%;
  width: auto;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.col-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    max-width: 100%;
    width: auto;
  }
  .col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.align-middle {
  vertical-align: middle;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-0 {
  border: 0;
}
.border-light {
  border-color: #e1dddb;
}
.d-flex {
  display: flex;
}
.justify-content-end {
  justify-content: flex-end;
}
.float-left {
  float: left;
}
.position-relative {
  position: relative;
}
.sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.ml-3 {
  margin-left: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.p-0 {
  padding: 0;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}
.font-weight-bold {
  font-weight: 700;
}
.text-success {
  color: #178253;
}
.text-body {
  color: #454545;
}
.text-break {
  word-break: break-word;
  word-wrap: break-word;
}
.text-dark-500 {
  color: var(--green-700);
}
.text-gray-400 {
  color: #8f8f8f;
}
.text-gray-500 {
  color: #707070;
}
@media print {
  *,
  :after,
  :before {
    box-shadow: none;
    text-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
.pgn__action-row {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.pgn__action-row > * {
  margin: 0;
}
.pgn__action-row > * + * {
  margin-inline-start: 0.5rem;
}
.pgn__action-row-spacer {
  flex-grow: 1;
}
.alert {
  border: 0 solid var(--mono-1000);
  border-radius: 0.375rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 1.5rem;
  position: relative;
}
.alert .alert-message-content > :last-child {
  margin-bottom: 0;
}
.alert-content {
  color: #454545;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: start;
}
.alert-content div {
  flex-grow: 1;
}
.pgn__alert-message-wrapper-stacked .pgn__alert-actions {
  margin-top: 1rem;
}
.alert-light {
  background-color: #fdfdfd;
  border-color: #f8f7f6;
  color: inherit;
}


.btn-outline-primary {
  background-color: transparent;
  border-color: var(--primary-500);
  color: var(--primary-500);
}

.btn-tertiary {
  background-color: var(--mono-1000);
  border-color: var(--mono-1000);
  color: #454545;
}


.btn-sm {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.4286;
  padding: 0.4375rem 0.75rem;
}
.btn-block {
  display: flex;
  width: 100%;
}
.btn-inline {
  font-size: inherit;
  line-height: calc(1.5556em - 2px);
  padding: 0 0.25em;
  vertical-align: bottom;
}
.card,
.collapsible-card-lg {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  background-clip: initial;
  background-color: var(--mono-100);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
}
.collapsible-card-lg .collapsible-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.pgn__card {
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
  outline: none;
}
.pgn__card .pgn__card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.pgn__card .pgn__card-header .pgn__card-header-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow: auto;
  text-align: start;
  width: 100%;
}
.pgn__card .pgn__card-header .pgn__card-header-title-md {
  color: var(--mono-900);
  font-weight: 700;
  text-align: start;
}
.pgn__card .pgn__card-header .pgn__card-header-title-md {
  font-size: 1.375rem;
}
.pgn__card .pgn__card-header .pgn__card-header-actions {
  flex-shrink: 0;
  margin-top: 1rem;
  margin-inline-start: 1rem;
}
.pgn__card .pgn__card-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  width: 100%;
}
.pgn__card .pgn__card-footer.vertical {
  justify-content: flex-end;
  padding-top: 0;
}
.pgn__card {
  border: 0;
  width: 100%;
}
@media (max-width: 576px) {
  .pgn__action-row .btn:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
  .pgn__action-row > * + * {
    margin-inline-start: 0;
  }
}
.collapsible-card-lg {
  border-radius: 0;
}
.collapsible-card-lg .collapsible-trigger {
  align-items: center;
  border-bottom: 1px solid var(--mono-1000);
  border-radius: calc(0.375rem - 1px);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: start;
  transition: border-color 0.1s ease 0.15s;
}
.collapsible-card-lg .collapsible-trigger > * {
  margin-bottom: 0;
  margin-top: 0;
}
.collapsible-card-lg .collapsible-trigger[aria-expanded="true"] {
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
  text-align: start;
  transition: none;
}
.collapsible-card-lg .collapsible-body {
  padding: 0.5rem;
  text-align: start;
}
.collapsible-card-lg .collapsible-body {
  padding-left: 0.75rem;
}
.collapsible-card-lg .collapsible-body > :last-child {
  margin-bottom: 0;
}
.collapsible-card-lg .collapsible-icon {
  margin-inline-start: 2.5rem;
}
.collapsible-card-lg .collapsible-body,
.collapsible-card-lg .collapsible-trigger {
  padding: 0.75rem 1.25rem;
}
.pgn__icon {
  display: block;
  flex-shrink: 0;
  height: 1.5rem;
  position: relative;
  width: 1.5rem;
}
.pgn__icon svg {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.pgn-transition-replace-group {
  text-align: start;
  transition: height 0.3s ease;
}
.btn-icon {
  border: none;
  border-radius: 50%;
  display: inline-flex;
  height: 2.75rem;
  justify-content: center;
  padding: 0;
  width: 2.75rem;
}
.btn-icon.btn-icon-sm {
  height: 2.25rem;
  width: 2.25rem;
}
.btn-icon .btn-icon__icon-container {
  align-self: center;
  display: inline-flex;
}
.btn-icon .btn-icon__icon {
  height: 1em;
  width: 1em;
}
.btn-icon:disabled {
  opacity: 0.65;
  pointer-events: none;
}
.btn-icon.btn-icon-primary {
  background-color: var(--mono-1000);
  color: var(--primary-500);
}
.btn-icon.btn-icon-primary:active,
.btn-icon.btn-icon-primary:hover {
  background-color: var(--primary-500);
  color: var(--mono-100);
}
.btn-icon.btn-icon-primary:focus {
  background-color: var(--mono-1000);
  box-shadow: inset 0 0 0 2px var(--primary-500);
  color: var(--primary-500);
  outline: 2px var(--mono-1000);
}

svg {
  vertical-align: middle;
}
svg {
  overflow: hidden;
}

button {
  overflow: visible;
}
button {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.list-unstyled {
  list-style: none;
}
.list-unstyled {
  padding-left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col,
.col-10,
.col-12,
.col-6,
.col-7,
.col-auto,
.col-md-4,
.col-md-8,
.col-md-auto {
  position: relative;
  width: 100%;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  flex: 0 0 auto;
  max-width: 100%;
  width: auto;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.col-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    max-width: 100%;
    width: auto;
  }
  .col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.align-middle {
  vertical-align: middle;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-0 {
  border: 0;
}
.border-light {
  border-color: #e1dddb;
}
.d-flex {
  display: flex;
}
.justify-content-end {
  justify-content: flex-end;
}
.float-left {
  float: left;
}
.position-relative {
  position: relative;
}
.sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
.w-100 {
  width: 100%;
}
.m-0 {
  margin: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.ml-3 {
  margin-left: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.p-0 {
  padding: 0;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.text-monospace {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}
.font-weight-bold {
  font-weight: 700;
}
.text-success {
  color: #178253;
}
.text-body {
  color: #454545;
}
.text-break {
  word-break: break-word;
  word-wrap: break-word;
}
.text-dark-500 {
  color: var(--green-700);
}
.text-gray-400 {
  color: #8f8f8f;
}
.text-gray-500 {
  color: #707070;
}
@media print {
  *,
  :after,
  :before {
    box-shadow: none;
    text-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
.pgn__action-row {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.pgn__action-row > * {
  margin: 0;
}
.pgn__action-row > * + * {
  margin-inline-start: 0.5rem;
}
.pgn__action-row-spacer {
  flex-grow: 1;
}
.alert {
  border: 0 solid var(--mono-1000);
  border-radius: 0.375rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 1.5rem;
  position: relative;
}
.alert .alert-message-content > :last-child {
  margin-bottom: 0;
}
.alert-content {
  color: #454545;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: start;
}
.alert-content div {
  flex-grow: 1;
}
.pgn__alert-message-wrapper-stacked .pgn__alert-actions {
  margin-top: 1rem;
}
.alert-light {
  background-color: #fdfdfd;
  border-color: #f8f7f6;
  color: inherit;
}

.btn-tertiary {
  background-color: var(--mono-1000);
  border-color: var(--mono-1000);
  color: #454545;
}

.btn-sm {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.4286;
  padding: 0.4375rem 0.75rem;
}
.btn-block {
  display: flex;
  width: 100%;
}
.btn-inline {
  font-size: inherit;
  line-height: calc(1.5556em - 2px);
  padding: 0 0.25em;
  vertical-align: bottom;
}
.card,
.collapsible-card-lg {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  background-clip: initial;
  background-color: var(--mono-100);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
}
.collapsible-card-lg .collapsible-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.pgn__card {
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
  outline: none;
}
.pgn__card .pgn__card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.pgn__card .pgn__card-header .pgn__card-header-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow: auto;
  text-align: start;
  width: 100%;
}
.pgn__card .pgn__card-header .pgn__card-header-title-md {
  color: var(--mono-900);
  font-weight: 700;
  text-align: start;
}
.pgn__card .pgn__card-header .pgn__card-header-title-md {
  font-size: 1.375rem;
}
.pgn__card .pgn__card-header .pgn__card-header-actions {
  flex-shrink: 0;
  margin-top: 1rem;
  margin-inline-start: 1rem;
}
.pgn__card .pgn__card-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  width: 100%;
}
.pgn__card .pgn__card-footer.vertical {
  justify-content: flex-end;
  padding-top: 0;
}
.pgn__card {
  border: 0;
  width: 100%;
}
@media (max-width: 576px) {
  .pgn__action-row .btn:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
  .pgn__action-row > * + * {
    margin-inline-start: 0;
  }
}
.collapsible-card-lg {
  border-radius: 0;
}
.collapsible-card-lg .collapsible-trigger {
  align-items: center;
  border-bottom: 1px solid var(--mono-1000);
  border-radius: calc(0.375rem - 1px);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: start;
  transition: border-color 0.1s ease 0.15s;
}
.collapsible-card-lg .collapsible-trigger > * {
  margin-bottom: 0;
  margin-top: 0;
}
.collapsible-card-lg .collapsible-trigger[aria-expanded="true"] {
  border-color: rgba(0, 0, 0, 0.125);
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
  text-align: start;
  transition: none;
}
.collapsible-card-lg .collapsible-body {
  padding: 0.5rem;
  text-align: start;
}
.collapsible-card-lg .collapsible-body {
  padding-left: 0.75rem;
}
.collapsible-card-lg .collapsible-body > :last-child {
  margin-bottom: 0;
}
.collapsible-card-lg .collapsible-icon {
  margin-inline-start: 2.5rem;
}
.collapsible-card-lg .collapsible-body,
.collapsible-card-lg .collapsible-trigger {
  padding: 0.75rem 1.25rem;
}
.pgn__icon {
  display: block;
  flex-shrink: 0;
  height: 1.5rem;
  position: relative;
  width: 1.5rem;
}
.pgn__icon svg {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.pgn-transition-replace-group {
  text-align: start;
  transition: height 0.3s ease;
}
.btn-icon {
  border: none;
  border-radius: 50%;
  display: inline-flex;
  height: 2.75rem;
  justify-content: center;
  padding: 0;
  width: 2.75rem;
}
.btn-icon.btn-icon-sm {
  height: 2.25rem;
  width: 2.25rem;
}
.btn-icon .btn-icon__icon-container {
  align-self: center;
  display: inline-flex;
}
.btn-icon .btn-icon__icon {
  height: 1em;
  width: 1em;
}
.btn-icon:disabled {
  opacity: 0.65;
  pointer-events: none;
}
.btn-icon.btn-icon-primary {
  background-color: var(--mono-1000);
  color: var(--primary-500);
}
.btn-icon.btn-icon-primary:active,
.btn-icon.btn-icon-primary:hover {
  background-color: var(--primary-500);
  color: var(--mono-100);
}
.btn-icon.btn-icon-primary:focus {
  background-color: var(--mono-1000);
  box-shadow: inset 0 0 0 2px var(--primary-500);
  color: var(--primary-500);
  outline: 2px var(--mono-1000);
}



// Ensure iframed content displays fully.
.col-md-4 {
  iframe {
    min-height: 100vmin;
  }
}
