---
layout: main.njk
pagination:
  data: bios
  size: 1
  alias: bio
  resolve: values
permalink: "instructors/{{ bio.name | slugify }}/"
eleventyExcludeFromCollections: true
eleventyComputed:
  meta:
    title: "{{ bio.name }} | Instructors"
    description: "{{ bio.description | strip_html }}"
---
<h1>{{ bio.name }}</h1>
<h4>{{ bio.subtitle }}</h4>
<p>{{ bio.description | safe }}</p>
<img src="/img/bios/{{ bio.img }}" alt="Image of {{ bio.name }}">