---
layout: main.njk
permalink: /instructors/
eleventyExcludeFromCollections: true
meta:
  title: Instructors
---
<h1>Bios</h1>
<p>This is a list of all the Gymnasium instructors.</p>
<ul>
{% for id, bio in bios %}
  <li><a href="/instructors/{{ bio.name | slugify }}" >{{ bio.name }}</a></li>
{% endfor %}
</ul>
