@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;


// course tab nav
#courseTabsNavigation.course-tabs-navigation {
  width: 100%;
  background: transparent;
  padding: 0;
  margin: 0 auto;

  nav {
    padding: 1.4rem 0;

    a {
      display: inline-block;
      font: bold 1.125rem/1.15 var(--font-family-custom);
      text-decoration: none;
      text-transform: uppercase;
      padding: 0;
      border-bottom: 1px solid currentColor;
      margin-bottom: 1px;
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 1.4rem;
      }

      &:hover,
      &:focus,
      &.active {
        border-bottom-width: 2px;
      }

      // hide tabs in course tab navigation
      &[href*="dates"],
      &[href*="progress"],
      &[href*="syllabus"] {
        display: none !important;
      }
    }
  }
}
