{% set url = [ '/', collection.slug, '/' ] | join %}

<article class="course-card">
  <div class="main">
    <a href="{{ url }}">
      <div class="artwork">
        <img
          alt="{{ collection.title }}."
          src="/img/og/collections/{{ collection.slug }}-collection.png"
          width="1200"
          height="628"
          decoding="async"
          fetchpriority="high">
      </div>
    </a>
    <header>
      <hgroup>
        <p class="topic" hidden><b>{{ collection.topic }}</b></p>
        <h2 class="title"><a href="{{ url }}">{{ collection.title }}</a></h2>
      </hgroup>
      <p class="description">{{ collection.description }}</p>
    </header>
    <div class="cta">
      <a class="btn" href="{{ url }}">Explore Collection</a>
    </div>
  </div>
</article>
