{%- set obj = collections.catalog[filteredId] -%}
{%- set img = obj.img -%}
{%- set title = obj.title | strip_html -%}

{%- if obj.subtitle -%}
  {%- set subtitle = obj.subtitle | strip_html -%}
{%- elif module.subtitle -%}

  {%- if module.subtitle | is_string -%}
    {%- set subtitle = module.subtitle -%}
  {%- elif module.subtitle | is_object -%}
    {% set key = module.subtitle.key %}
    {% set collect = collections[module.subtitle.data] %}
    {{collect.key}}

    {%- set subtitle -%}{%- if module.subtitle['pre'] -%}{{ module.subtitle['pre'] }} {% endif -%}{{ bios[obj.instructor]['name'] }}{%- if module.subtitle['post'] -%} {{ module.subtitle['post'] }}{% endif -%}{%- endset -%}
  {%- endif -%}
{%- endif -%}

{%- set topic = obj.topic -%}
{%- set topic_featured = obj.topic_featured-%}
{%- set subtopics = obj.subtopics -%}
{%- set description = obj.description -%}

{%- if obj.slug -%}
  {%- set slug = obj.slug -%}
{%- else -%}
  {%- set slug = title | slugify -%}
{%- endif -%}

{%- set shortId = obj.id -%}
{%- set type = obj.type -%}

{%- set src = img -%}
{%- set srcSet = src -%}
{%- set video_duration = obj.video_duration -%}

{%- set url = '/courses/take5/' + (obj.title | slugify) ~ '/' -%}

{%- set baseClass = "course " + type + ' ' + shortId | lower -%}

{%- if not topicClass -%}
  {%- set topicClass = topic | slugify -%}
{%- endif -%}

{%- if not subtopicClass -%}
  {%- set subtopicClass -%}
  {% if subtopics %}{% for subtopic in subtopics %} {{ subtopic.label | slugify }}{% endfor %}{% endif %}
  {%- endset -%}
{%- endif -%}

{%- set itemClass %}{{ baseClass }} {{ topicClass }} {{ subtopicClass }} {% if topic_featured %} featured{% endif %} {% if extraClass %} {{ extraClass }}{% endif %}
{%- endset -%}

<article id="{{ shortId | lower }}" class="course-card {{ itemClass }}">
  <div class="main">
    <a href="{{ url }}">
      <div class="artwork" data-duration="{{ video_duration }}">
        <img
          alt="{{ title }} tutorial video poster."
          srcset="{{ srcSet }}"
          src="{{ src }}"
          width="1280"
          height="720"
          decoding="async"
          fetchpriority="high">
      </div>
    </a>
    <header>
      <hgroup>
        <p class="topic"><b>{{ topic }}</b></p>
        <h2 class="title"><a href="{{ url }}">{{ title }}</a></h2>
        <p class="instructor">with {{ bios[obj.instructor]['name'] }}{%- if not bios[obj.instructor]['name'] -%}{{ obj.instructor }}{%- endif -%}, {{  bios[obj.instructor]['subtitle'] }}{%- if not bios[obj.instructor]['subtitle'] -%}{{ obj.instructor_bio }}{%- endif -%}</p>
      </hgroup>
      <p class="description">{{ description }}</p>
    </header>
    <div class="cta">
      <a class="btn" href="{{ url }}">Watch Video</a>
    </div>
    <footer class="info">
      <h3>{{ course_type[obj.type].name }}</h3>
      <p>{{ obj.skill_level }}</p>
    </footer>
  </div>

  {% if page.url == '/courses/take5/' %}
    {%- back_to 'footer', 'topics', 'Back to menu' -%}
  {% endif %}
</article>
