---
layout: full-width
permalink: /webinars/
meta:
  title: Webinars
  description: "Insightful conversations with trailblazers in the web community."
  sitemapPriority: 0.5
  sitemapChangeFreq: monthly
---

{%- if webinars -%}
<header class="intro-about bg-mono-400">
  <div class="container">
    <h1>{{ meta.title }}</h1>
    <p>{{ meta.description }}</p>
  </div>
</header>

<div class="container card-grid">
  <ul>
  {%- for webinar in webinars | sortDataByDate('event_date') | reverse -%}
    <li class="color-card card {{ webinar.color | slugify }}" id="{{ webinar.id | lower }}">
      {# <div class="" id="{{ webinar.meta.id | lower }}"> #}
        <div class="main">
          <header>
            <p class="topic caps"><b>{{ webinar.content_category }}</b></p>
            <h2 class="title">
              {{ webinar.title | replace(r/:.*/, '') }}
              {%- if ':' in webinar.title -%}
                <span class="visually-hidden">:</span><span class="subhead">{{ webinar.title | replace(r/^.*:/, '') }}</span>
              {%- endif -%}
            </h2>
            <p class="guests"><b>{{ webinar.event_guests }}</b></p>
          </header>
        </div>
        <div class="cta">
          <a class="btn" href="/webinars/{{ webinar.slug }}">Watch Recording</a>
        </div>
      {# </div> #}
    </li>
  {%- endfor -%}
  </ul>
</div>
{%- else -%}
  <p>No webinars found!!</p>
{%- endif -%}
