---js
{
  layout: "main.njk",
  layoutClass: "bg-mono-100",
  pagination: {
    data: "webinars",
    size: 1,
    alias: "item",
    resolve: "values",
    addAllPagesToCollections: true,
  },
  permalink: "webinars/{{ item.slug }}/",
  eleventyComputed: {
    meta: {
      title: "{{ item.title | strip_html }} | Webinars",
      description: "{{ item.description | strip_html }}",
      sitemapDate: "{{ item.event_date.toISOString() }}",
      sitemapExclude: function(data) {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
    },
  },
}
---

<article id="{{ item.id | slugify }}" class="courses webinar-detail bg-mono-100">

  <div class="main">

    <header>
      <hgroup>
        <p class="topic"><b>{{ item.type }}</b></p>
        <h1 class="title">{{ item.title }}</h1>
        <p class="instructor">{{ item.event_guests }}</p>
         {# TODO: Add date formatting filter  #}
        <!-- <p class="datetime">{{ item.event_date }}</p> -->
      </hgroup>
      <p class="description">{{ item.description | safe }}</p>
    </header>

    <p><strong>This webinar recording is now available.</strong></p>

    {%- if item.video_id -%}
      {%- youtube item.video_id -%}
    {%- endif -%}

    {# TODO: Hidden for now, likely because this is more relevant to the "event" version of the page  #}
    {# {%- if item.content -%}
      <p>{{ item.content | safe }}</p>
    {%- endif -%} #}

    {%- if item.resources -%}
      <section>
        <h2>Resources</h2>
        <ul>
          {%- for resource in item.resources -%}
            <li><a href="{{ resource.label }}" target="_blank" rel="noopener">{{ resource.label }}</a></li>
          {%- endfor -%}
        </ul>
      </section>
    {%- endif -%}

  </div>

  <aside>
    <header>
      <h2>Guest Speaker{%- if item.speaker[1] -%}s{%- endif -%}</h2>
    </header>

    {%- if item.speaker[0] -%}
      <section>
        <img src="{{ bios[item.speaker[0]]['img'] }}" alt="Headshot of {{ bios[item.speaker[0]]['name'] }}.">
        <h3>{{ bios[item.speaker[0]]['name'] }}</h3>
        <p>{{ bios[item.speaker[0]]['description'] | safe }}</p>
      </section>
    {%- endif -%}

    {%- if item.speaker[1] -%}
      <section>
        <img src="{{ bios[item.speaker[1]]['img'] }}" alt="Headshot of {{ bios[item.speaker[1]]['name'] }}.">
        <h3>{{ bios[item.speaker[1]]['name'] }}</h3>
        <p>{{ bios[item.speaker[1]]['description'] | safe }}</p>
      </section>
    {%- endif -%}

    <header>
      <h2>Host</h2>
    </header>

    <section>
      <img src="{{ bios[item.host]['img'] }}" alt="Headshot of {{ bios[item.host]['name'] }}.">
      <h3>{{ bios[item.host]['name'] }}</h3>
      <p>{{ bios[item.host]['description'] }}</p>
    </section>
  </aside>

  {%- back_to 'footer', 'main', 'Back to Webinars' -%}
</article>
