// Ebb & Flow animation
@mixin ebb-flow {
  @keyframes ebb-flow {

    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

// Fades animation
@mixin fades {
  @keyframes fade-1 {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-2 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-3 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-4 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-5 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

// Ken Burns animation
@mixin ken-burns {
  @keyframes ken-burns {
    0% {
      transform: scale(1);
      object-position: 50% center;
    }
    15% {
      transform: scale(1.04);
      object-position: 38% 52%;
    }
    30% {
      transform: scale(1.08);
      object-position: 25% 54%;
    }
    45% {
      transform: scale(1.1);
      object-position: 15% 55%;
    }
    55% {
      transform: scale(1.1);
      object-position: 15% 55%;
    }
    65% {
      transform: scale(1.08);
      object-position: 30% 57%;
    }
    80% {
      transform: scale(1.04);
      object-position: 45% 54%;
    }
    100% {
      transform: scale(1);
      object-position: 50% center;
    }
  }
}
