// Ebb & Flow animation
@mixin ebb-flow {
  @keyframes ebb-flow {

    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

// Fades animation
@mixin fades {
  @keyframes fade-1 {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-2 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-3 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-4 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-5 {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

// Ken Burns animation
@mixin ken-burns {
  @keyframes ken-burns {
    0% {
      transform: scale(1);
      object-position: center center;
    }
    15% {
      transform: scale(1.05);
      object-position: 42% 58%;
    }
    35% {
      transform: scale(1.1);
      object-position: 60% 42%;
    }
    55% {
      transform: scale(1.15);
      object-position: 53% 47%;
    }
    75% {
      transform: scale(1.08);
      object-position: 45% 55%;
    }
    90% {
      transform: scale(1.02);
      object-position: center center;
    }
    100% {
      transform: scale(1);
      object-position: center center;
    }
  }
}
