@use "sass:map";
@use 'base/functions' as *;
// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

// Better color conversions here: https://colordesigner.io/convert/hextohsl
// Lighter colors should have lower numbers

$colors: (
  primary: (
    500: hsl(204.3, 100%, 39.22%), // #0077c8
    600: hsl(204.49, 98.66%, 29.22%), // #015894
  ),
  secondary: (
    100: hsl(18.26, 100%, 95.49%), // #ffefe8 (message: attention)
    500: hsl(19.15, 100%, 53.92%), // #ff5f14 Aquent Orange
    800: hsl(19.37, 85.52%, 43.33%), // #cd4d10 Darker Aquent Orange
    900: hsl(19.14, 84.46%, 37.84%), // #b2430f (message text: error)
  ),
  'green': (
    400: hsl(120, 100%, 35.69%), // #00b600 (holiday green)
    500: hsl(144.77, 55.33%, 38.63%), //#2c9959,
    600: hsl(144.55, 55.7%, 30.98%), // #237b47
    700: hsl(145.09, 55.56%, 19.41%), // #164d2d
  ),
  'magenta': (
    500: hsl(345.9, 67.48%, 51.76%), // #d73158
    600: hsl(345.76, 67.8%, 40.2%), // #ac2142
    700: hsl(346.06, 67.35%, 28.82%), // #7b182f
  ),
  'purple': (
    500: hsl(270.36, 35.32%, 46.08%), // #764c9f
    600: hsl(270.36, 35.32%, 34.58%),
    700: hsl(270.36, 35.32%, 23.08%),
  ),
  'teal': (
    500: hsl(175.89, 28.85%, 50.39%), // #5ca5a0;
    600: hsl(175.86, 29.29%, 38.82%), // #46807c
    700: hsl(176.47, 28.33%, 23.53%), // #2b4d4b
  ),
  'red': (
    400: hsl(354.78, 90.55%, 50.2%), // #f30d21 holiday red
    500: hsl(1.95, 64.17%, 52.94%), // #d43f3a error color
    600: hsl(355, 70%, 41%), // MFE stuff?
  ),
  /*

*/
  mono: (
    100: hsl(0 0% 100%), // white
    200: hsl(0 0% 92%), // #ebebeb
    300: hsl(0, 0%, 86.67%), // #ddd
    400: hsl(0, 0%, 80%), // #ccc
    500: hsl(0, 0%, 40%), // #666
    600: hsl(0, 0%, 27%), // #444
    700: hsl(0, 0%, 20%), // #333
    800: hsl(0, 0%, 16%), // #292929
    900: hsl(0, 0%, 9%), // #181818
    1000: rgba(0,0,0,0), // transparent
  ),
);

// This color map automatically generates the `.bg-{color}` class names (see the _backgrounds partial)
$bg-colors: (
  mono: (
    100: map-deep-get($colors, 'mono', 100),
    400: map-deep-get($colors, 'mono', 400),
    700: map-deep-get($colors, 'mono', 700),
    800: map-deep-get($colors, 'mono', 800),
    900: map-deep-get($colors, 'mono', 900),
  ),
  'gray': (
    '600': map-deep-get($colors, 'mono', 600),
  ),
  'green': (
    500: map-deep-get($colors, 'green', 500),
  ),
  'magenta': (
    500: map-deep-get($colors, 'magenta', 500),
  ),
  'purple': (
    500: map-deep-get($colors, 'purple', 500),
  ),
  'teal': (
    500: map-deep-get($colors, 'teal', 500),
  ),
);

// Retired courses

// Map gray to mono-600
:root {
  --gray-600: var(--mono-600);
}
