// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

@use "base/colors" as *;
@use "base/fonts" as *;
@use "base/mixins" as *;
@use "base/functions" as *;
@use 'sass:list';

// TODO: move to global variables?
$global-button-radius: rem-calc(3);

:root {
  --font-family-default: #{$gym-text-font-stack};
  --font-family-custom: #{$gym-font-stack};
  --global-button-radius: #{$global-button-radius};
  
  @each $color, $shades in $colors {
    @if (list.length($shades) > 1) {
      @each $shade, $value in $shades {
        --#{$color}-#{$shade}: #{$value};
      }
    } @else {
      @each $shade, $value in $shades {
        --#{$color}: #{$value};
      }
    }
  }
}
