{%- if item and item.live -%}
  {%- set bio_name = "" -%}
  {%- set bio_description = "" -%}
  {%- set bio_img = "" -%}
  {%- if item.instructor -%}
    {%- set bio = bios[item.instructor] -%}
    {%- set bio_name = bio.name -%}
    {%- set bio_description = bio.description | strip_html -%}
    {%- set bio_img = config.urls.production + bio.img -%}
  {%- endif -%}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "{{ metaUrl }}",
    "@type": "Course",
    "name": "{{ item.title }}",
    "description": "{{ item.description }}",
    "publisher": {
      "@type": "School",
      "name": "Gymnasium",
      "url": "{{ config.urls.production }}"
    },
    "provider": {
      "@type": "School",
      "name": "Gymnasium",
      "url": "{{ config.urls.production }}"
    },
    "image": "{{ metaImg }}",
    "offers": [{
      "@type": "Offer",
      "category": "free"
    }],
    "datePublished": "{{ item.date }}",
    "educationalLevel": "{{ item.skill_level }}",
    "about": ["{{ item.topic }}"],
    "teaches": ["{{ item.description }}"],
    "inLanguage": "en",
    "availableLanguage": ["en"],
    {%- if item.outline %}
    "syllabusSections": [
    {%- for syl in item.outline -%}
      {
        "@type": "Syllabus",
        "name": "{{ syl.label }}",
        "description": "{{ syl.description }}."
      }{% if not loop.last %},{% endif %}
    {%- endfor -%}
    ],
    {%- endif %}
    "educationalCredentialAwarded": [{
      "@type": "EducationalOccupationalCredential",
      "name": "{{ item.title }} {{ item.credential | title }}",
      {#- "url": "{{ config.urls.production }}", #}
      "credentialCategory": "{{ item.credential }}",
      "offers": [{
        "@type": "Offer",
        "category": "Free"
      }]
    }],
    {%- if item.preview_video_id %}
    "video": {
      "@type": "VideoObject",
      "name": "Video Preview for {{ item.title }}",
      "description": "A video previewing Gymnasium's free {{ item.title }} course.",
      "uploadDate": "{{ item.date }}",
      {% if item.preview_video_duration %}"duration": "{{ item.preview_video_duration }}",{% endif %}
      "url": "https://www.youtube.com/watch?v={{ item.preview_video_id }}",
      "contentUrl": "https://www.youtube.com/v/{{ item.preview_video_id }}",
      "embedUrl": "https://www.youtube-nocookie.com/embed/{{ item.preview_video_id }}",
      "thumbnailUrl": "https://i.ytimg.com/vi/{{ item.preview_video_id }}/hqdefault.jpg",
      "isFamilyFriendly": "TRUE"
    },{%- endif -%}
    "hasCourseInstance": {
      "@type": "CourseInstance",
      "courseMode": "Online",
      "courseWorkload": "{{ item.duration_8601_format }}",
      "educationalLevel": "{{ item.skill_level }}",
      "instructor": [{
        "@type": "Person",
        "name": "{{ bio_name }}",
        "description": "{{ bio_description }}",
        "image": "{{ bio_img }}"
      }]
    }
  }
  </script>
{%- endif -%}
