---
layout: main
permalink: /jobs/
meta:
  title: Jobs
  bodyClass: "jobs collection"
---
{%- set header = pages['jobs'].header -%}
{%- set cards = pages['jobs'].cards -%}
{%- set articles = pages['jobs'].articles -%}

{%- if header -%}
  {%- include 'modules/components/header.njk' -%}
{%- endif -%}

{%- if cards -%}
  {# TODO: can this be combined with/refactored to use an existing featured module? #}
  <section class="featured">
    <ul class="list-unstyled">
    {%- for idx in range(0, cards.length) -%}
      {%- set card = cards[idx] -%}
      {%- set heading = card.heading -%}
      {%- set subheading = card.subheading -%}
      {%- set url = card.cta.href -%}
      {%- set label = card.cta.label -%}
      {%- set src = card.img.src -%}
      {%- if card.img.srcSet -%}
        {%- set srcSet = card.img.srcSet -%}
      {%- else -%}
        {%- set srcSet = src -%}
      {%- endif -%}
      <li>
        <article class="featured-card">
          <div>
            <p class="topic"><b>{{ heading }}</b></p>
            <figure class="artwork">
              <a href="{{ url }}">
                <img alt="{{ heading }}" srcset="{{ srcSet }}" src="{{ src }}" decoding="async" fetchpriority="high" width="" height="">
              </a>
            </figure>
            <header>
              <a href="{{ url }}">
                <h3>{{ subheading }}</h3>
              </a>
            </header>
          {%- if card.cta -%}
            <div class="cta">
              <a class="btn" href="{{ url }}">{{label }}</a>
            </div>
          {%- endif -%}
          </div>
        </article>
      </li>
    {%- endfor -%}
    </ul>
  </section>
{%- endif -%}

{# Here we're omitting some object keys to be able to loop through the content fields #}
{%- set content = pages['jobs'] | omit(['header','cards']) -%}

{%- include 'modules/loader.njk' -%}
