@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;


// Collections page-specific style rules

.collection {
  main {
    .container {
      > header,
      section:first-child > header {
        h1 {
          font-size: rem-calc(36);
          text-rendering: auto;
        }

        p {
          font-size: rem-calc(20);
        }
      }
    }

    section:not(.featured) {
      background-color: var(--mono-100);
      padding: 1.4rem;
      border: 1px solid var(--mono-300);
      border-radius: 3px;
      margin-top: 1rem;

      header:not(.course-card header) {
        border-bottom: 1px solid var(--mono-300);

        & ~ div:not(:only-of-type) {
          margin-top: 1.4rem;
        }

        h3 {
          font-size: 1.4rem;
          font-weight: 900;
        }
      }

      > header {
        padding-bottom: 1.4rem;
        border-bottom: 1px solid var(--mono-300);
        margin-bottom: 1.4rem;
      }

      h2,
      &.jobs h1 {
        font-size: 1.8rem;
        line-height: 1.15;
        text-transform: uppercase;
      }

      h2:only-child {
        margin-bottom: 0;
      }

      p {
        font-size: 1.125rem;

        &:not(p + p):not(p[class]:first-child):not(footer p) {
          margin-top: 0.6rem;
        }
      }

      ul {
        li {
          font-size: 1.3125rem;

          &:not(main .jobs li):not(.courses li):not(.tutorials li):not(.livestreams li):not(.webinars li):not(.design-systems li) {
            padding-bottom: 1.2rem;
            border-bottom: 1px dashed var(--mono-300);
            margin-top: 1.2rem;
          }

          cite {
            font-style: normal;
            font-weight: bold;
          }
        }
      }

      .artwork {
        border: 1px solid var(--mono-300);
      }

      .cta:not(.course-card .cta) {
        text-align: center;
        padding-top: 1.4rem;
        border-top: 1px solid var(--mono-300);
        margin-top: 1.4rem;
      }
    }

    // TODO: Update job module text?

    .jobs h1:not(.jobs .jobs h1):after {
      content: " Jobs";
    }

    .jobs:not(body.jobs) {

      h1 {
        margin-bottom: 0;
      }

      p {
        display: none;
      }

    }

    .featured,
    .courses,
    .tutorials,
    .livestreams,
    .webinars {

      ul {
        display: grid;
        gap: 1.4rem;

        li {
          margin-top: 0;
        }
      }

      h3:not(.featured h3) {
        font-family: var(--font-family-default);
        font-size: 1.4rem;
        line-height: 1.35;
        margin-bottom: 0;
      }

    }

    .tutorials,
    .livestreams,
    .webinars {

      figure + h3 {
        margin-top: 0.6rem;
      }

    }

    .courses {

      ul {

        @include breakpoint(medium, min) {
          grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        }

        li {
          display: inherit;
          grid-template-columns: 1fr 3fr;
          gap: inherit;
          align-items: center;
        }
      }

    }

    .tutorials,
    .livestreams,
    .webinars {

      ul {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }

      > div:not(header + div) {
        border-top: 1px solid var(--mono-300);
        padding-top: 1.2rem;
      }

      header {
        padding-bottom: 1.2rem;
        border-bottom: 1px dashed var(--mono-300);
        margin-bottom: 1.2rem;

        h3 {
          font-family: var(--font-family-custom);
          font-weight: 900;
          font-size: 1.55;
          text-transform: uppercase;
        }

      }

    }

    .livestreams,
    .webinars {

      .artwork {
        height: 0;
        padding-bottom: 55.875%;
        overflow: hidden;
      }

    }

    // TODO: Redo image source aspect ratio?

    .webinars {

      .artwork {
        img {
          margin-top: -9.25%;
        }
      }
    }

  }
}


// TODO: Update/move style rules

#jobs {

  #error-results {
    margin-top: 1.4rem;
  }

}
