// | -------------------------------------------------------------
// | This file is intended to only serve the Course About MFE
// | -------------------------------------------------------------
@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@use 'shared';

@use 'mfe/root';
@use 'mfe/buttons';

// TODO: remove after refactoring the main element padding thing, etc
.course-about main {
  background-color: var(--mono-100);
  padding-top: 0;
  padding-bottom: 0;
}

.course-header {
  // padding: 1rem 0;

  @include breakpoint(large, max) {
    .grid-col-1-2 {
      grid-template-columns: 2fr 3fr;
    }
  }

  figure {
    display: grid;
    overflow: hidden;

    img {
      align-self: center;
      justify-self: end;
      margin: 0 -1.2rem;
    }
  }



  @media (max-width: 52em) {

    .grid-col-1-2 {
      grid-template-columns: none;
      gap: 1.2rem;

      figure {
        margin-bottom: -2.2rem;

        img {
         max-width: 50%;
         justify-self: start;
        }
      }
    }

  }
}

.course-metabar {
  display: grid;
  grid-auto-rows: min-content auto;
  padding: 1.4rem 0;

  @media (min-width: 52em) {
    margin: 2rem 0;
  }
}

.bg-green,
.bg-teal {
  .course-metabar {
    > * {
      color: var(--mono-900);
    }
  }
}

.course-title {
  .topic {
    font-weight: 900;
    font-family: var(--font-family-custom);
    font-size: 1.25rem;
    line-height: 1;
    margin-top: -0.125rem;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2.25rem;
    line-height: 1.15;
    letter-spacing: 0.05ex;
    word-spacing: 0.25ex;
    text-wrap: balance;
  }
}

.course-type {
  display: inline-block;
  font-weight: 900;
  font-family: var(--font-family-custom);
  font-size: 0.9375rem;
  line-height: 1.15;
  word-spacing: 0.25ex;
}

.course-skill-level {
  display: inline-block;
  font-family: var(--font-family-default);
  line-height: 1.1;
  letter-spacing: 0.0125ex;
  text-indent: 2ex;
}

.course-cta {
  align-self: end;
  margin-top: 1.6rem;
  margin-bottom: 0;

  .btn {
    display: inline-block;
    width: 100%;
    max-width: 12rem;
    border: 2px solid var(--mono-100);
  }
}

.course-intro {
  p {
    font-family: var(--font-family-custom);
    font-size: rem-calc(25);
    line-height: 1.5;
    letter-spacing: rem-calc(0.256);
    word-spacing: rem-calc(0.512);
    margin-top: -0.35rem;
  }
}

.course-about {

  .grid-sidebar {

    .content,
    aside {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

  }

  // Sidebar spacing and rule for small screens

  @media (max-width: 52em) {
    .grid-sidebar {
      gap: 1.1875rem;

      .content,
      aside {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
      }

      .content {
        padding-bottom: 0;
      }

      aside {
        border-top: 1px solid var(--mono-300);
      }
    }
  }

  article {
    section:not(:first-child) {
      border-top: 1px solid var(--mono-300);
      margin-top: rem-calc(19);
    }

    h2 {
      letter-spacing: rem-calc(1.152);
      text-transform: uppercase;
    }
    h3 {
      letter-spacing: rem-calc(0.384);
    }
    h2,
    h3 {
      font-size: rem-calc(19);
      line-height: 1.25;
      margin-top: rem-calc(19);
      word-spacing: rem-calc(0.768);
    }


    .course-audience {
      h2 {
        margin-top: 0;
      }
    }
  }

}

