@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

// applied to body class

.home {
  background-color: var(--mono-200);

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  // top/bottom padding for each component of the home page

  > article,
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section {
    h2 {
      font-size: 1.5rem;
    }

    > div {
      > header {
        h2 {
          letter-spacing: 0.15ex;
          word-spacing: 0.25ex;
        }
      }
    }
  }
}

// hero styling (full compiled class name is`.home-hero`)
article.home-hero {
  padding-top: rem-calc(44);
  padding-bottom: rem-calc(68);

  .container {
    @include breakpoint(large, min) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2rem;
    }
  }

  .subhead {
    font-size: rem-calc(18);
    color: var(--secondary-500);
    letter-spacing: 0.15ex;
    word-spacing: 0.25ex;
  }

  h1 {
    font-size: rem-calc(40);
    word-spacing: rem-calc(2);
  }

  p {
    font-size: rem-calc(16);
    font-weight: 700;
  }

  .cta {
    .btn {
      border: rem-calc(2) white solid;
      font-size: rem-calc(23);
    }
  }

  @include breakpoint(large, min) {
    header {
      align-self: center;
    }

    .image {
      min-height: 100%;
      margin: 0;

      & + .text {
        margin-top: 0;
      }
    }
  }
}

.how-gymnasium-works {
  h2,
  h3 {
    line-height: 1.25;
  }

  h2 {
    font-weight: 900;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.05ex;
    word-spacing: 0.125ex;
  }

  p {
    font-size: rem-calc(18);
    font-family: var(--font-family-default);
    letter-spacing: 0.0125ex;
    color: var(--mono-600);
    text-wrap: pretty;
  }

 .hero {
    font-family: var(--font-family-custom);
    font-size: 1.75rem;
    margin-bottom: 2.4rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1.4rem 2rem;

    @include breakpoint(large, min) {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }

    li {
      margin-top: 0;
    }

  }
}

section.home-featured {

  > div {
    > header {
      text-align: center;
      border-top: 2px solid var(--mono-400);

      h2 {
        position: relative;
        top: -1.75rem;
        background: var(--mono-200);
        margin-bottom: -0.75rem;
        display: inline-block;
        padding: 0 2rem;
      }
    }

    > .cta {
      text-align: center;
      margin-top: 1.4rem;

      .description {
        max-width: 44rem;
        font-family: var(--font-family-custom);
        font-size: 1.625rem;
        text-align: left;
        margin: 0.8rem auto;
      }

      .btn {
        padding-left: 2.1rem;
        padding-right: 2.1rem;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1.4rem;

    li {
      display: inherit;
      margin-top: 0;
    }

    @media (min-width: 67.75em) {

      li:last-child {
        display: none;
      }

    }
  }

  .featured-item {
    display: inherit;
    grid-template-rows: auto 1fr;
    background-color: var(--mono-100);
    border: rem-calc(1) solid var(--mono-400);

    figure {
      overflow: hidden;
      margin: 0 0 1.4rem;

      img {
        margin: -0.6rem 0;
      }
    }

    header,
    > div {
      padding: 0 1.4rem;
    }

    .topic {
      font: 900 1.25rem/1 var(--font-family-custom);
      letter-spacing: 0.0125ex;
      word-spacing: 0.25ex;
      margin-top: -0.125rem;
      margin-bottom: 0.8rem;
    }

    h2 {
      font-size: 1.8rem;
      line-height: 1.2;
      margin-bottom: 1rem;
    }

    .instructor,
    .description {
      font-size: 1.125rem;
    }

    .instructor {

      * {
        line-height: 1.4;
      }

      dt {
        font-weight: bold;
      }
    }

    .description {
      font-family: var(--font-family-default);
    }

    .info {
      padding-top: 0;
      align-self: end;
    }

    .cta {
      padding: 1.4rem;

      .btn {
        display: block;
      }
    }
  }

}

.how-gymnasium-works,
.home-find-work {

  header {
    display: table; // shh (old school `width: fit-content;`)
    margin: 0 auto;

    &:before {
      display: block;
      content: "";
      border-left: 1.4rem dashed transparent;
      border-right: 1.4rem dashed transparent;
      border-bottom: 2rem solid var(--mono-200);
      margin: -3.6rem 0 0;
    }

    h2 {
      padding: 0 3.4rem;
    }
  }
}

.home-find-work {
  margin-top: 1.4rem;

  header:before  {
    border-bottom-color: var(--mono-700);
  }
}
