@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

// applied to body class

.home {
  background-color: var(--mono-200);

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  // top/bottom padding for each component of the home page

  > article,
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section {
    h2 {
      font-size: 1.5rem;
    }

    > div > header h2 {
      letter-spacing: 0.15ex;
      word-spacing: 0.25ex;
    }
  }
}

// home page hero

.home-hero {
  padding-bottom: rem-calc(56);

  @include breakpoint(large, min) {
    padding-top: rem-calc(44);
    padding-bottom: rem-calc(68);
  }

  .container {
    display: grid;
    gap: 1.8rem 2rem;

    @include breakpoint(large, min) {
      grid-template-columns: 1fr 2fr;
    }
  }

  &.full-width .container {
    @include breakpoint(large, min) {
      grid-template-columns: 1fr;
    }
  }

  .image {
    a {
      display: inline-block;
    }
  }

  @include breakpoint(medium, max) {
    .image {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  @include breakpoint(large, max) {
    header:not(.image + header) {
      margin-top: 1.8rem;
    }
  }

  .subhead {
    font-weight: 900;
    font-size: rem-calc(20);
    font-family: var(--font-family-custom);
    color: var(--secondary-500);
    letter-spacing: 0.15ex;
    word-spacing: 0.25ex;
    margin-top: -0.4rem;
  }

  h1 {
    font-size: rem-calc(40);
    letter-spacing: 0.0625ex;
    word-spacing: 0.125ex;
    text-wrap: pretty;
  }

  &.article,
  &.livestream {
    h1 {
      text-wrap: balance;
    }
  }

  header > p {
    max-width: 44rem;
    font-size: 1.35rem;
    line-height: 1.5;
    color: var(--mono-300);
    text-wrap: pretty;
    margin-top: 1.2rem;
  }

  .guest {
    font-weight: bold;
    font-size: 1.05rem;
  }

  .guest,
  time {
    color: var(--mono-100);
  }

  a:visited {
    border-bottom: inherit;
  }

  .cta {
    margin-top: 2rem;

    .btn {
      font-size: rem-calc(22.4);
      line-height: 1.35;
      text-wrap: balance;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
      border: rem-calc(2) solid var(--mono-100);
    }
  }

  @include breakpoint(large, min) {
    header {
      align-self: center;
    }
  }
}

// How Gymnasium Works

.how-gymnasium-works {
  h2,
  h3 {
    line-height: 1.25;
  }

  h2 {
    font-weight: 900;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
    letter-spacing: 0.05ex;
    word-spacing: 0.125ex;
  }

  p {
    font-size: rem-calc(18);
    font-family: var(--font-family-default);
    letter-spacing: 0.0125ex;
    text-wrap: pretty;
  }

  .hero {
    font-family: var(--font-family-custom);
    font-size: 1.75rem;
    margin-top: 0.4rem;

    + * {
      margin-top: 2.8rem;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1.4rem 2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;

    @include breakpoint(large, min) {
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    }

    li {
      margin-top: 0;
      p {
        color: var(--mono-600);
      }
    }
  }
}

// Home Featured

.home-featured {
  > div > header h2 {
    line-height: 1.25;
    text-align: center;
    margin-bottom: 1.8rem;
  }

  @supports (display: grid) {
    > div > header h2 {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      gap: 0 1.8rem;
      align-items: center;

      &:before,
      &:after {
        content: "";
        border-top: 1px solid var(--mono-400);
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1.4rem;

    li {
      display: inherit;
      margin-top: 0;
    }

    @media (min-width: 67.75em) {
      li:last-child {
        display: none;
      }
    }
  }

  .featured-item {
    display: inherit;
    grid-template-rows: auto 1fr;
    background-color: var(--mono-100);
    border: rem-calc(1) solid var(--mono-400);

    figure {
      overflow: hidden;
      margin: 0 0 1.4rem;

      img {
        margin: -0.6rem 0;
      }
    }

    header,
    > div {
      padding: 0 1.4rem;
    }

    .topic {
      font: 900 1.25rem/1 var(--font-family-custom);
      letter-spacing: 0.0125ex;
      word-spacing: 0.25ex;
      margin-top: -0.125rem;
      margin-bottom: 0.8rem;
    }

    h2 {
      font-size: 1.8rem;
      line-height: 1.2;
      text-wrap: balance;
      margin-bottom: 1rem;
    }

    .instructor,
    .description {
      font-size: 1.125rem;
    }

    .instructor {
      margin-top: 0;
      margin-bottom: 0;

      * {
        line-height: 1.4;
      }

      dt {
        font-weight: bold;
      }
    }

    .description {
      font-family: var(--font-family-default);
    }

    .info {
      padding-top: 0;
      align-self: end;
    }

    .cta {
      padding: 1.4rem;

      .btn {
        display: block;
      }
    }
  }
}

.home-featured,
.home-find-work {
  .cta {
    text-align: center;
    margin-top: 1.8rem;

    .description {
      max-width: 48rem;
      font-family: var(--font-family-custom);
      font-size: 1.675rem;
      text-align: left;
      margin: 1.2rem auto;
    }

    .btn {
      display: inline-block;
      padding-left: 6%;
      padding-right: 6%;
    }
  }
}

// How Gymnasium
// Home Find Work

.how-gymnasium-works,
.home-find-work {
  header {
    display: table;
    margin: 0 auto;

    &:before {
      display: block;
      position: relative;
      content: "";
      border-left: 1.4rem dashed transparent;
      border-right: 1.4rem dashed transparent;
      border-bottom: 2rem solid var(--mono-200);
      margin: -3.6rem 0 0;
    }

    h2 {
      padding: 0 3.4rem;
    }
  }
}

.home-find-work {
  margin-top: 1.4rem;

  header:before {
    border-bottom-color: var(--mono-700);
  }
}
