@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.location-select {
  display: inline-block;
  padding-right: 1rem;
  border: 1px solid var(--secondary-500);
  border-radius: 3px;

  select {
    all: revert;
    font-size: 1.05rem;
    font-weight: bold;
    background-color: transparent;
    padding: 1.2rem;
    border: 0;

    &,
    option {
      line-height: 1.15;
    }
  }
}

.jobs-list {
    display: grid;
    margin-top: 1.6rem;

    @include breakpoint(medium, min) {
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
      gap: 0 2rem;
    }

  li {
    font-weight: bold;
    font-size: 1.05rem;
    padding: 1.2rem 0;
    border-top: 1px dashed var(--mono-300);
    border-bottom: 1px dashed var(--mono-300);
    margin-top: -1px;

    a {
      display: inline-block;
      margin-bottom: 0.2rem;
    }

    &:first-child {

    }
  }

}

.home-find-work {
  .location-select {
    background-color: var(--mono-100);
  }

  .jobs-list {

    li {
      border-top-color: var(--mono-500);
      border-bottom-color: var(--mono-500);
    }
  }
}
