@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.location-select {
  display: inline-block;
  color: var(--mono-900);
  padding-right: 1rem;
  border: 2px solid var(--primary);
  border-radius: 3px;

  select {
    all: revert;
    font-size: 1.05rem;
    font-weight: bold;
    background-color: transparent;
    padding: 1.2rem;
    border: 0;

    &,
    option {
      line-height: 1.15;
    }
  }
}

.jobs-list {
    display: grid;
    margin-top: 1.6rem;

    @include breakpoint(medium, min) {
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
      gap: 0 2rem;
    }

  li {
    font-size: 1.05rem;
    padding: 1.2rem 0;
    border-top: 1px dashed var(--mono-300);
    border-bottom: 1px dashed var(--mono-300);
    margin-top: -1px;

    a {
      display: inline-block;
      text-decoration: none;
      margin-bottom: 0.2rem;

      span {
        font-weight: bold;
        text-transform: capitalize;
      }

      .job-title {
        text-decoration: underline;
      }

      &:hover,
      &:focus,
      &:active {

        .job-title {
          text-decoration: none;
        }

      }

      .job-location {
        display: block;
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }

}

#messages {

  > div {
    padding: 1.8rem;
    border: 2px dashed var(--secondary-500);
    margin-top: 1.6rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-top: -0.4rem;
    margin-bottom: 1.2rem;

    + p {
      font-weight: bold;
    }

  }

  p {
    font-size: 1.125rem;;
  }

  + #jobs-container {
    margin-top: 0;
  }

}

// home page

.home-find-work {

  .location-select {
    background-color: var(--mono-100);
    margin-top: 1.4rem;
  }

  .jobs-list {
    margin-bottom: 2rem;

    li {
      border-top-color: var(--mono-500);
      border-bottom-color: var(--mono-500);

      .job-location {
        color: var(--mono-300);
      }
    }
  }

}
