@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

.location-select {
  display: inline-block;
  margin: 0 auto;

  label {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.15;
    margin-right: 0.8rem;
  }
}

.form-control {
  all: revert;
  display: inline-block;
  font-size: 1.05rem;
  font-weight: bold;
  color: var(--mono-900);
  background-color: transparent;
  border: 0.8rem dashed transparent;
  border-right-width: 1rem;
  border-radius: 3px;
  outline: 2px solid var(--primary);

  &:focus {
    outline: 2px solid var(--primary);
  }

  &,
  option {
    line-height: 1.15;
  }
}

.jobs-list {
    display: grid;
    margin-top: 1.6rem;

    @include breakpoint(medium, min) {
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
      gap: 0 2rem;
    }

  li {
    font-size: 1.25rem;
    padding: 1.2rem 0;
    border-top: 1px dashed var(--mono-300);
    border-bottom: 1px dashed var(--mono-300);
    margin-top: -1px;

    a {
      display: inline-block;
      text-decoration: none;
      margin-bottom: 0.2rem;

      span {
        font-weight: bold;
        text-transform: capitalize;
      }

      .job-title {
        text-decoration: underline;
      }

      &:hover,
      &:focus,
      &:active {

        .job-title {
          text-decoration: none;
        }

      }

      .job-location {
        display: block;
        font-weight: normal;
        font-size: 1rem;
        margin-top: 0.125rem;
      }
    }
  }

}

#messages {

  // TODO: combine these with a global `.alert` class?
  > div {
    padding: 1.4rem;
    border: 1px dashed var(--mono-500);
    border-radius: 3px;
    margin-top: 1.6rem;

    p {
      font-size: 1.125rem;
      margin-top: 0;
    }

    &.fadeout {
      position: absolute;
    }

    &[id*="error"] {
      background-color: var(--secondary-100);
      border-color: var(--secondary-900);

      p {
        color: var(--secondary-900);
      }
    }
  }

  + #jobs-container {
    margin-top: 0;
  }

}

// home page

.home-find-work {

  .form-control {
    background-color: var(--mono-100);
    margin-top: 1.4rem;
  }

  .jobs-list {
    position: relative;
    margin-bottom: 2rem;

    li {
      border-top-color: var(--mono-500);
      border-bottom-color: var(--mono-500);

      .job-location {
        color: var(--mono-300);
      }
    }
  }

}
