---js
{
  layout: "layouts/full-width.njk",
  permalink: "/collections/",
  meta: {
    title: "Collections",
    "description": "Explore a specific topic and learn practical skills with free courses, tutorials, and resources.",
    sitemapPriority: 0.7,
    sitemapChangeFreq: "monthly",
  },
  intro: {
    heading: "Collections",
    content: "Explore specific topics with free courses, tutorials, resources, and jobs.",
  },
  nav: {
    parent: "/courses/",
    secondary: "courses",
  },
  eleventyComputed: {
    items: (data) => {
      const filtered = data.collections.collection.filter(item => !item.meta.exclude);
      const sorted = filtered.sort((a, b) => {
        return Math.sign(a.meta.order - b.meta.order);
      });
      return sorted;
    },
  }
}
---
<header class="intro-about bg-mono-400">
  <div class="container">
    <h1>{{ intro.heading }}</h1>
    <p>{{ intro.content }}</p>
  </div>
</header>

<div class="container card-grid">
  <ul>
  {%- for col in items -%}
    <li class="color-card card {{ col.meta.color | slugify }}" id="{{ col.meta.id | lower }}">
      {# <div class="" id="{{ col.meta.id | lower }}"> #}
        <div class="main">
          <header>
            <h2 class="title">{{ col.meta.title }}</h2>
            <p class="description">{{ col.card.description }}</p>
            {# <span>order: {{ col.meta.order }}</span> #}
          </header>
        </div>
        <div class="cta">
          <a class="btn" href="/{{ col.meta.title | slugify }}/">Explore Collection</a>
        </div>
      {# </div> #}
    </li>
  {%- endfor -%}
  </ul>
</div>
