{# Define a unique class per page automatically (meta.bodyClass overrides this) #}
{%- if meta.bodyClass -%}
  {%- set bodyClass = meta.bodyClass -%}
{%- else -%}
  {%- set bodyClass = page.url.slice(1, -1).split('/') | join('-') -%}
{%- endif -%}
<!doctype html>
<html lang="en-US" dir="ltr">
<head>
{% include './components/head.njk' %}
</head>
<body class="{{ bodyClass }}">
{% include './components/header.njk' %}
{{ content | safe }}
{%- set footer -%}{%- include './components/footer.njk' -%}{%- endset -%}
{# In the static site footer, convert absolute urls to relative #}
{{ footer
  | replace(config.main.urls.root, '')
  | replace('GYM_ROOT_URL', '')
  | replace('GYM_LMS_URL', config.main.urls.lms)
  | replace('GYM_MFE_URL', config.main.urls.mfe)
  | safe
}}
{%- include './components/scripts.njk' -%}
</body>
</html>
