{%- set item = sidebar -%}
<aside>
  {%- set header = item.header -%}
  {%- include 'modules/components/header.njk' -%}

  {%- set module = featured[item.feature] -%}
  {%- include 'modules/featured/smart-cards.njk' -%}

  {%- back_to 'footer' -%}
</aside>
