---
layout: main
permalink: /catalog/featured/
meta:
  title: Features Courses
  sitemapPriority: 1.0
  sitemapChangeFreq: weekly
  sitemapExclude: true
eleventyExcludeFromCollections: true
---
<h2>Featured Courses on Home</h2>
<ul>
{%- for item in featured['home']['courses'] -%}
  <li>{{ item }}</li>
{%- endfor -%}
</ul>

<h2>Popular By Type</h2>
<ul>
{%- for type, items in featured['popular'] -%}
<li>
  <h3>{{ type }}</h3>
  <ul>
    {%- for item in items -%}
    <li>{{ item }}</li>
    {%- endfor -%}
  </ul>
</li>
{%- endfor -%}
</ul>

<h2>Catalog Featured</h2>
<ul>
{%- for type, items in featured['catalog'] -%}
<li>
  <h3>{{ type }}</h3>
  <ul>
    {%- for item in items -%}
    <li>{{ item }}</li>
    {%- endfor -%}
  </ul>
</li>
{%- endfor -%}
</ul>

<h2>Collections Featured</h2>
<ul>
{%- for type, items in featured['collection'] -%}
<li>
  <h3>{{ type }}</h3>
  <ul>
    {%- for item in items -%}
    <li>{{ item }}</li>
    {%- endfor -%}
  </ul>
</li>
{%- endfor -%}
</ul>
