{# Footer Component
This component is used to generate the footer for the static site and the LMS theme + MFEs.

Please use the following strings instead of directly coding domain names:
- GYM_ROOT_URL: without the brackets for the root static site domain
- {{ config.main.urls.lms }}: the LMS theme domain
- {{ config.main.urls.mfe }}: the LMS MFE domain
#}
<footer class="site-footer">
  <div class="container">
    <div class="main">
      <div class="header">
        <a href="GYM_ROOT_URL/">
          <img alt="{{ config.main.meta.author }} logo, to the homepage." srcset="GYM_ROOT_URL{{ config.main.logos.main.white.srcset }}" src="GYM_ROOT_URL{{ config.main.logos.main.white.src }}" width="208" height="24" decoding="async" fetchpriority="low">
        </a>
        <p>{{ config.main.meta.short_description }}</p>
      </div>
      {%- for item in config.main.footer.nav -%}
      <nav id="footer-{{ item.title | slugify }}" aria-labelledby="{{ item.title | slugify }}-menu-label">
        <h2 id="{{ item.title | slugify }}-menu-label">{{ item.title }}</h2>
        <ul>
          {%- set links =  item.links -%}
          {%- for link in links -%}
          <li>
            <a href="{{ link.href }}"
              {%- if link.target %} target="{{ link.target }}"{%- endif -%}
              {%- if link.rel %} rel="{{ link.rel }}"{%- endif -%}>
              {%- if link.src -%}
                {%- set img_base_path = "GYM_ROOT_URL" + config.main.paths.img.footer.icons -%}
                <img alt="{{ link.alt }}" srcset="{{ img_base_path }}{{ link.srcset }}" src="{{ img_base_path }}{{ link.src }}"{% for key, val in item.img.attr %} {{ key }}="{{ val }}"{% endfor -%}>
              {%- endif -%}
              {{ link.label }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endfor -%}
    </div>
    <aside>
     {%- for item in config.main.footer.aside -%}
      <section id="{{ item.title | slugify }}">
        <h3>{{ item.title }}</h3>
        <div>
          {%- set links =  item.links -%}
          {%- for link in links -%}
          <a href="{{ link.href }}"{% for key, val in config.main.footer.a.attr %} {{ key }}="{{ val }}"{% endfor -%}>
            {%- set img_base_path = "GYM_ROOT_URL" + config.main.paths.img.footer.logos -%}
            <img alt="{{ link.alt }}" src="{{ img_base_path }}{{ link.src }}" {%- if link.srcset %} srcset="{{ img_base_path }}{{ link.srcset }}" {%- endif %} width="{{ link.width }}" height="{{ link.height }}"{% for key, val in config.main.footer.img.attr %} {{ key }}="{{ val }}"{% endfor -%}>
          </a>
          {%- endfor -%}
        </div>
      </section>
      {%- endfor -%}
    </aside>
    <p class="copyright">
      <small>© {% year %} <a href="GYM_ROOT_URL/" aria-label="{{ config.main.meta.title }} homepage">{{ config.main.meta.author }}</a></small>
    </p>
  </div>
</footer>
