<header class="site-header">
  <a href="#main" class="skip-link">Skip to main content</a>
  <div class="container">
    {% include './nav-main.njk' %}
  </div>
  {%- if nav.secondary -%}
  <div class="container">
    {% include './nav-secondary.njk' %}
  </div>
  {%- endif -%}
  {# TODO: design/add individual course header(s) for use in MFEs? #}
</header>
