<header class="site-header">
  <a href="#main" class="skip-link">Skip to main content</a>
  {%- if config.main.msg.banner.active -%}
  <aside id="system-status" class="system-status{%- if config.main.msg.banner.class %} {{config.main.msg.banner.class}}{% endif -%}">
    <div class="container">{{ config.main.msg.banner.content | safe }}</div>
  </aside>
  {%- endif -%}
  <div class="container">
    {% include './nav-main.njk' %}
  </div>
  {%- if nav.secondary -%}
  <div class="container">
    {% include './nav-secondary.njk' %}
  </div>
  {%- endif -%}
  {# TODO: design/add individual course header(s) for use in MFEs? #}
</header>
