{%- set metaDescription = config.meta.description -%}
{%- if meta.description -%}
  {%- set metaDescription = meta.description -%}
{%- endif -%}
{%- set metaAuthor = config.meta.author -%}
{%- set metaUrl -%}{{ config.urls.production }}{{ page.url }}{%- endset -%}
{# Allow overriding metaUrl via the page meta #}
{%- if meta.canonicalUrl -%}
  {%- set metaUrl = meta.canonicalUrl -%}
{%- endif -%}
{%- set metaImg -%}{{ config.urls.root_url }}{{ config.meta.og_img }}{%- endset -%}
{%- if meta.img -%}
  {%- set metaImg -%}{{ config.urls.root_url }}{{ meta.img }}{%- endset -%}
{%- endif -%}
{# meta robots defaults #}
{%- if meta.robots -%}
  {%- set metaRobots = meta.robots -%}
{%- else -%}
  {# TODO: adjust logic for production release #}
  {# {%- set metaRobots = "index, follow" -%} #}
  {%- set metaRobots = "noindex, nofollow, noimageindex, noarchive, nosnippet, nocache" -%}
{%- endif -%}
{# automatically exlude unindexed pages #}
{%- if (eleventyExcludeFromCollections or meta.sitemapExclude) -%}
  {%- set metaRobots = "noindex, nofollow, noimageindex, noarchive, nosnippet, nocache" -%}
{%- endif -%}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ config.meta.title }}</title>
<meta name="robots" content="noai, noimageai, {{ metaRobots }}">
<meta name="author" content="{{ metaAuthor }}">
<meta property="og:site_name" content="{{ metaAuthor }}">
<meta name="twitter:title" property="og:title" content="{{ metaAuthor }}">
<meta name="twitter:image:alt" property="og:image:alt" content="{{ metaAuthor }}">
<meta name="description" content="{{ metaDescription }}"/>
<meta name="twitter:description" property="og:description" content="{{ metaDescription }}">
<meta name="twitter:site" content="@{{ metaAuthor }}">
<meta name="twitter:creator" content="@{{ metaAuthor }}">
<meta name="twitter:image" property="og:image" content="{{ metaImg }}">
<meta name="twitter:url" property="og:url" content="{{ metaUrl }}">
<link rel="canonical" href="{{ metaUrl }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary_large_image">

<meta name="generator" content="{{ eleventy.generator }}">

<meta content="ie=edge" http-equiv=X-UA-Compatible>
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/favicon-180.png">
<link rel="manifest" href="/manifest.json">

<link rel="stylesheet" href="{{ '/css/global.css' | cachebust }}" />
{# Allows piping in page-specific CSS files - probably not a "recommended" practice. However, we have implemented this to support the collections index page and prism js highlighting on tutorial transcripts #}
{%- if meta.css -%}
  {%- if meta.css | is_object -%}
    {%- for item in meta.css -%}
      {%- set link = item.link -%}
      {%- if item.cachebust -%}
        {%- set link = item.link | cachebust -%}
      {%- endif -%}
      <link rel="stylesheet" href="{{ link }}" />
    {%- endfor -%}
  {%- else -%}
    <link rel="stylesheet" href="{{ meta.css | cachebust }}" />
  {%- endif -%}
{%- endif -%}

{% block head %}{% endblock %}

{# TODO: figure out how to include schema in the head automatically #}

{%- if meta.schema -%}
<!-- start schema -->
{%- include 'modules/schema/' + meta.schema.type + '.njk' ignore missing -%}
<!-- end schema -->
{%- endif -%}
