<nav class="main" role="navigation" aria-label="Main">
  <a href="/">
    <img alt="{{config.meta.author}} logo, to the homepage." src="{{config.logos.main.white.src}}" srcset="{{config.logos.main.white.srcset}}" decoding="async" fetchpriority="high" width="208" height="24">
  </a>
  <div class="wrapper">
    <ul role="list">
      {%- for link in config.header.nav.main | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) | replace("GYM_MFE_URL", config.urls.mfe) -%}
      <li>
        <a href="{{link.href}}"{%- if (link.href in permalink) or (nav.parent in link.href) -%} class="active" aria-current="page" {%- endif -%}>{{link.label}}</a>
      </li>
      {%- endfor -%}
    </ul>


{%- set auth %}
<ul class="auth logged-in" role="list">
  {%- for link in config.header.nav.auth.private | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) -%}
    <li>
      <a href="{{link.href}}"{%- if link.class -%} class="{{link.class}}"{%- endif -%}>{{link.label}}</a>
    </li>
  {%- endfor -%}
</ul>
{% endset %}

<is-land on:ready>
  <ul class="auth" role="list">
  {%- for link in config.header.nav.auth.public | replace("GYM_ROOT_URL", "") | replace("GYM_LMS_URL", config.urls.lms) -%}
    <li>
      <a href="{{link.href}}"{%- if link.class -%} class="{{link.class}}"{%- endif -%}>{{link.label}}</a>
    </li>
  {%- endfor -%}
  </ul>

{% edge "njk", auth %}
  {% if eleventy.edge.cookies.edxloggedin %}
    <template data-island="replace">
    <!-- edxloggedin:{{ eleventy.edge.cookies.edxloggedin }} -->
    {{ _ | safe }}
    </template>
  {% endif %}
{% endedge %}

</is-land>

  </div>
</nav>
