<script type="module" src="{{ '/js/gym.js' | cachebust }}"></script>
{#- Adds per-page js support -#}
{%- if meta.js -%}
  {%- if meta.js | is_object -%}
    {%- for item in meta.js -%}
      {%- set link = item.link -%}
      {%- if item.cachebust -%}
        {%- set link = item.link | cachebust -%}
      {%- endif -%}
      {%- set attr = '' -%}
      {%- if item.attr -%}
        {%- set attr = item.attr | safe -%}
      {%- endif -%}
      <script {{ attr }} src="{{ link }}"></script>
    {%- endfor -%}
  {%- else -%}
  <script async src="{{ meta.js | cachebust }}"></script>
  {%- endif -%}
{%- endif %}

{#- Start OneTrust Cookies Consent Notice -#}
{%- if config.env.ONETRUST_COOKIE_SCRIPT_ID -%}
<script async src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-domain-script="{{ config.env.ONETRUST_COOKIE_SCRIPT_ID }}"></script>
<script>function OptanonWrapper(){}</script>
{%- else -%}
<!-- ONETRUST_COOKIE_SCRIPT_ID missing! -->
{%- endif -%}
{#- End OneTrust Cookies Consent Notice -#}

{#- Add GA4 -#}
{%- if config.env.GOOGLE_ANALYTICS_4_ID -%}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.env.GOOGLE_ANALYTICS_4_ID }}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{ config.env.GOOGLE_ANALYTICS_4_ID }}');
</script>
{%- else -%}
<!-- GOOGLE_ANALYTICS_4_ID missing! -->
{%- endif -%}
