---js
{
  layout: "full-width.njk",
  permalink: "/courses/full/",
  meta: {
    title: "Courses",
    sitemapPriority: 0.7,
    sitemapChangeFreq: "weekly",
    bodyClass: "courses courses-full",
  },
  eleventyComputed: {
    meta: {
      img: (data) => {
        return `${data.config.paths.img.og}courses/index.png`;
      },
    }
  },
  collection: "course",
  nav: {
    secondary: "courses",
    parent: "/courses/",
  }
}
---
{%- set header = pages['full'].header -%}
{%- set info = pages['full'].info -%}
{%- include 'modules/courses/header.njk' -%}

<div class="container">

  {%- include 'modules/courses/topic-select-fragments.njk' -%}

  <div id="topics" class="topics">

    {%- include 'modules/courses/topic-menu.njk' -%}

    <article class="topic-listing">
      <h2 class="topic-label" aria-hidden="true"><span>All Topics</span></h2>
      <ul class="courses">
        {% for course in collections.live_courses_full | reverse %}
          {%- set module = course -%}
          {%- include 'modules/panels/course.njk' -%}
        {% endfor %}

        {# TODO: Refactor as necessary #}

        {# Add custom recommendation for accessibility #}
        {%- set module = collections.live_courses_short | pluck('id', 'GYM-016') -%}
        {%- set module = module[0] -%}
        {%- set topicClass = 'accessibility' -%}
        {%- set subtopicClass = ' ' -%}
        {%- set extraClass = 'elective' -%}
        {%- set enableNote = true -%}
        {%- include 'modules/panels/course.njk' -%}

        {# Add custom recommendation for prototyping #}
        {%- set module = collections.live_courses_short | pluck('id', 'GYM-015') -%}
        {%- set module = module[0] -%}
        {%- set topicClass = 'prototyping' -%}
        {%- set subtopicClass = ' ' -%}
        {%- set extraClass = 'elective' -%}
        {%- set enableNote = true -%}
        {%- include 'modules/panels/course.njk' -%}

        {# Set custom recommendation for career skills #}
        {%- set module = collections.live_courses_short | pluck('id', 'GYM-001') -%}
        {%- set module = module[0] -%}
        {%- set topicClass = 'career-skills' -%}
        {%- set subtopicClass = ' ' -%}
        {%- set extraClass = 'elective' -%}
        {%- set enableNote = true -%}
        {%- include 'modules/panels/course.njk' -%}
      </ul>
    </article>

  </div><!--.topics-->
</div><!--.container-->
