@use '../../base/breakpoints' as *;
@use '../../base/mixins' as *;
@use '../../base/animations' as *;

.home-hero {
  position: relative;

  // add animation mixins

  @include fades;
  @include ebb-flow;

  &:after,
  .image-group,
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:after,
  .slide {
    animation: 60s ease-in-out infinite;
  }

  .image-group {
    filter: grayscale(1);
  }

  .slide {
    object-fit: cover;
  }

  // loop through images

  @for $i from 1 through 5 {
    #slide-#{$i} {
      animation-name: fade-#{$i};
    }
  }

  &:after {
    display: block;
    content: "";
    background: linear-gradient(135deg,
      var(--green-500), var(--green-500),
      var(--teal-500), var(--teal-500),
      var(--magenta-500), var(--magenta-500),
      var(--teal-500)
    );
    background-size: 700% 700%;
    animation-name: ebb-flow;
    opacity: 0.94;
  }

  header {
    position: relative;
    max-width: 34rem;
    justify-self: center;
    z-index: 1;

    @include breakpoint(large, min) {
      margin: 0.875rem 0;
    }

    hgroup {
      max-width: 28rem;
    }

    .subhead,
    p {
      color: var(--mono-900);
    }

    > p {
      font-weight: bold;
    }
  }
}
