---
layout: layouts/sidebar.njk
meta:
  title: "404: Page Not Found"
  sitemapExclude: true
eleventyExcludeFromCollections: true
permalink: 404.html
---
{%- set error404 -%}{%- include 'modules/components/404.njk' -%}{%- endset -%}
{# In the static site footer, convert absolute urls to relative #}
{{ error404
  | replace(config.urls.root, '')
  | replace('GYM_ROOT_URL', '')
  | replace('GYM_LMS_URL', config.urls.lms)
  | replace('GYM_DATA_URL', config.urls.data)
  | replace('GYM_MFE_URL', config.urls.mfe)
  | safe
}}
