---js
{
  layout: "layouts/full-width.njk",
  permalink: "/",
  meta: {
    sitemapPriority: 1.0,
    sitemapChangeFreq: "weekly",
    bodyClass: "home",
  },
  eleventyComputed: {
    hero_data: (data) => {
      const home_hero = data.featured.home.hero;
      const hero_category = Object.keys(home_hero)[0];
      const hero_slug = Object.values(home_hero)[0];
      return [hero_category, hero_slug];
    },
    meta: {
      title: "{{ config.meta.subtitle }}",
      css: function(data) {
        const cssfile = (data.hero_data && (data.hero_data[0] && data.hero_data[1])) ? `/css/hero/${data.hero_data[0]}/${data.hero_data[1]}.css` : false;
        return cssfile;
      },
      preload_image: function(data) {
        const hero_category = data.hero_data && data.hero_data[0];
        const hero_slug = data.hero_data && data.hero_data[1];
        const img_preload = (hero_category && hero_slug) ? `/img/${data.hero[hero_category][hero_slug].img_preload}` : false;
        return img_preload;
      }
    },
  }
}
---
{% set hero_cat = hero_data[0] -%}
{% set hero_slug = hero_data[1] -%}
{%- set hero = hero[hero_cat][hero_slug] -%}
{%- set heroClass = "home-hero bg-mono-800" -%}
{%- include 'modules/hero.njk' -%}

<section class="how-gymnasium-works">
  <div class="container">
  {%- set module = pages['home']['how-gymnasium-works'] -%}
  {%- set header = module['header'] -%}
  {%- set description = module['description'] -%}
  {%- include 'modules/components/header.njk' -%}
    <p class="hero">{{ description | safe }}</p>
  {% set items = module['items'] -%}
    <ul class="list-unstyled">
    {%- for item in items %}
      <li>
        <h3>{{ item.heading | safe }}</h3>
        <p>{{ item.description | safe }}</p>
      </li>
    {%- endfor -%}
    </ul>
  </div>
</section>

{%- set module = featured['home']['featured'] -%}
{%- include 'modules/featured/home.njk' -%}

<section class="home-find-work bg-mono-700">
  <div class="container">
  {%- set module = pages['home']['find-work'] -%}
  {%- set header = module['header'] -%}
  {%- include 'modules/jobs.njk' -%}
  {%- set cta = module['cta'] -%}
    <div class="cta">
      <p class="description">{{ cta.description }}</p>
      <a class="btn" href="{{ cta.href }}">{{ cta.label }}</a>
    </div>
  </div>
</section>
