---js
{
  layout: 'layouts/full-width.njk',
  permalink: '/',
  meta: {
    sitemapPriority: 1.0,
    sitemapChangeFreq: 'weekly',
    bodyClass: 'home',
    imgBasePath: '/img/tutorials/',
  },
  eleventyComputed: {
    hero_data: (data) => {
      const homeHero = data.featured.home.hero || {};
      const heroCategory = Object.keys(homeHero)[0];
      const heroSlug = homeHero[heroCategory];
      return heroCategory && heroSlug ? [heroCategory, heroSlug] : [];
    },
    meta: {
      title: '{{ config.meta.subtitle }}',
      css: (data) => {
        const [heroCategory, heroSlug] = data.hero_data || [];
        return heroCategory && heroSlug && data.hero[heroCategory]?.[heroSlug]?.css
          ? `/css/hero/${heroCategory}/${heroSlug}.css` : false;
      },
      preload_image: (data) => {
        const [heroCategory, heroSlug] = data.hero_data || [];
        const hero = data.hero?.[heroCategory]?.[heroSlug];
        const imgBasePath = data.meta.imgBasePath;
        if (hero) {
          const imageId = (hero.id || 'default-id').toLowerCase();
          if (hero.img.preload === true || hero.img.preload === 'poster') {
            return { poster: `${imgBasePath}poster/${imageId}.jpg` };
          }
          if (hero.img.preload === 'hero') {
            return { hero: `${imgBasePath}hero/${imageId}.jpg` };
          }
          if (typeof hero.img.preload === 'string') {
            if (hero.img.preload === 'both') {
              return {
                poster_breakpoint: `${imgBasePath}poster/${imageId}.jpg`,
                hero_breakpoint: `${imgBasePath}hero/${imageId}.jpg`
              };
            } else {
              return {
                poster_breakpoint: `${imgBasePath}poster/${hero.img.preload}`,
                hero_breakpoint: `${imgBasePath}hero/${hero.img.preload}`
              };
            }
          }
        }
        return null;
      }
    }
  }
}
---
{% set hero_cat = hero_data[0] -%}
{% set hero_slug = hero_data[1] -%}
{%- set hero = hero[hero_cat][hero_slug] -%}
{%- set heroClass = "home-hero bg-mono-800" -%}
{%- include 'modules/hero.njk' -%}

<section class="how-gymnasium-works">
  <div class="container">
  {%- set module = pages['home']['how-gymnasium-works'] -%}
  {%- set header = module['header'] -%}
  {%- set description = module['description'] -%}
  {%- include 'modules/components/header.njk' -%}
    <p class="hero">{{ description | safe }}</p>
  {% set items = module['items'] -%}
    <ul class="list-unstyled">
    {%- for item in items %}
      <li>
        <h3>{{ item.heading | safe }}</h3>
        <p>{{ item.description | safe }}</p>
      </li>
    {%- endfor -%}
    </ul>
  </div>
</section>

{%- set module = featured['home']['featured'] -%}
{%- include 'modules/featured/home.njk' -%}

<section class="home-find-work bg-mono-700">
  <div class="container">
  {%- set module = pages['home']['find-work'] -%}
  {%- set header = module['header'] -%}
  {%- include 'modules/jobs.njk' -%}
  {%- set cta = module['cta'] -%}
    <div class="cta">
      <p class="description">{{ cta.description }}</p>
      <a class="btn" href="{{ cta.href }}">{{ cta.label }}</a>
    </div>
  </div>
</section>
