---
permalink: /manifest.json
eleventyExcludeFromCollections: true
---
{
  "icons": [
    {
      "src": "{{ config.main.urls.root }}/favicon-192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "{{ config.main.urls.root }}/favicon-512.png",
      "type": "image/png",
      "sizes": "512x512"
    }
  ]
}
