---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ config.urls.production }}/sitemap.xml

User-agent: *
Disallow:
/tests/
/test/
/debug/
/pattern-library/
/instructors/
/catalog/
