---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ config.main.urls.production }}/sitemap.xml

User-agent: *
Disallow: /tests/
Disallow: /test/
Disallow: /debug/
Disallow: /pattern-library/
Disallow: /instructors/
Disallow: /catalog/
