---
layout: main.njk
permalink: /sitemap/
eleventyExcludeFromCollections: true
meta:
  title: Sitemap
---
<h1>Sitemap</h1>
<ul>
{%- for item in collections.static | sortByUrl -%}
  {%- if (not item.data.meta.draft) and (not item.data.meta.sitemapExclude) -%}
  {%- set title = item.data.meta.title | replace_after("|","") | replace(config.meta.subtitle,"Home") -%}
  <li>
    <a href="{{ item.url }}">{{ title }}</a>
  </li>
  {%- endif -%}
{%- endfor -%}
{%- for item in collections.privacy | sortByUrl -%}
  {%- if (not item.data.meta.draft) and (not item.data.meta.sitemapExclude) -%}
  {%- set title = item.data.meta.title | replace_after("|","") -%}
  <li>
    <a href="{{ item.url }}">{{ title }}</a>
  </li>
  {%- endif -%}
{%- endfor -%}
</ul>

<h2>Full Courses</h2>
<ul>
{%- for item in collections.live_courses_full -%}
  <li>
    <a href="/courses/{{ item.title | slugify }}"><span>{{ item.id }}:</span> {{ item.title }}</a>
  </li>
{%- endfor -%}
</ul>

<h2>Gym Shorts</h2>
<ul>
{%- for item in collections.live_courses_short -%}
  <li>
    <a href="/courses/{{ item.title | slugify }}"><span>{{ item.id }}:</span> {{ item.title }}</a>
  </li>
{%- endfor -%}
</ul>

<h2>Take 5 Tutorials</h2>
<ul>
{%- for item in collections.live_tutorials -%}
  <li>
    <a href="/courses/take5/{{ item.title | slugify }}"><span>{{ item.id }}:</span> {{ item.title }}</a>
  </li>
{%- endfor -%}
</ul>

<h2>Webinars</h2>
<ul>
{%- for item in webinars | sortDataByDate('event_date') | reverse -%}
  <li>
    <a href="/webinars/{{ item.slug }}">{{ item.title | safe }}</a>
  </li>
  {%- endfor -%}
</ul>
