/*! CSS Used from: http://edly.io:8888/css/mfe-discussions.css */
// @media (prefers-reduced-motion: reduce) {
//   html body * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }
// *,
// *::after,
// *::before {
//   box-sizing: inherit;
// }
// h5,
// p {
//   margin: 0;
//   padding: 0;
// }
// button,
// input {
//   color: inherit;
//   letter-spacing: inherit;
//   font: inherit;
// }
// input[type="text"] {
//   width: 100%;
// }
// button,
// input {
//   border: 1px solid gray;
// }
// button {
//   padding: 0.75em 1em;
//   border-radius: 0;
//   background-color: rgba(0, 0, 0, 0);
//   line-height: 1;
// }
// button * {
//   pointer-events: none;
// }
// button:hover {
//   cursor: pointer;
// }
// img,
// svg {
//   height: auto;
// }
// img,
// svg {
//   display: inline-block;
//   width: auto;
//   max-width: 100%;
//   vertical-align: middle;
// }
// [tabindex="-1"] {
//   outline: none !important;
//   box-shadow: none !important;
// }
// .sr-only {
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   border: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
// }
// a:not(.btn) {
//   color: var(--action-color);
//   text-decoration: underline;
// }
// a:not(.btn):visited {
//   color: var(--action-color);
// }
// a:not(.btn):hover,
// a:not(.btn):focus {
//   color: var(--action-color-state);
//   text-decoration: none;
// }
// :where(main) a {
//   word-wrap: break-word;
//   word-break: break-word;
// }
// h5 {
//   font-weight: 700;
// }
// h5 {
//   font-size: 1.125rem;
//   line-height: 1.15;
// }
// @media (min-width: 48em) {
//   h5 {
//     font-size: 1.25rem;
//     line-height: 1.875rem;
//   }
// }
// h5 {
//   font-family: var(--font-family-custom);
//   margin-bottom: 1rem;
// }
.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100%;
}
@media (min-width: 48em) {
  .container {
    padding: 0 2rem;
  }
}
@media (min-width: 75em) {
  .container {
    padding: 0 1rem;
    max-width: 75rem;
  }
}
main {
  background-color: var(--mono-200);
}
main {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

main {
  margin: 0 auto;
  max-width: 75rem;
}

// [role="button"] {
//   cursor: pointer;
// }
// .btn {
//   background-color: var(--primary-500);
//   border: 3px solid var(--primary-500);
//   border-radius: 3px;
//   color: var(--mono-100);
//   display: inline-flex;
//   font-family: var(--font-family-custom);
//   font-size: 1.25rem;
//   font-weight: bold;
//   line-height: 1;
//   padding: 1.05rem;
//   text-align: center;
//   text-decoration: none;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
//     border-color 0.15s ease-in-out;
// }
// .btn:hover,
// .btn:focus {
//   color: var(--mono-100);
//   background-color: var(--mono-600);
//   border-color: var(--mono-600);
//   text-decoration: none;
// }
// .btn-link {
//   background-color: rgba(0, 0, 0, 0);
//   font-weight: 400;
//   text-decoration: underline;
//   border: 0;
//   font-size: 1rem;
//   font-family: inherit;
//   color: inherit;
// }
// .btn-link:focus,
// .btn-link:hover {
//   background-color: rgba(0, 0, 0, 0);
// }
// input {
//   display: block;
//   height: auto;
//   width: 100%;
//   margin: 0;
//   padding: 1rem;
//   border: 0.0625rem solid var(--mono-300);
//   border-bottom: 0.125rem solid var(--secondary-500);
//   font-size: 1rem;
// }
// *:focus {
//   outline: 2px dotted #000;
//   outline-color: #000;
//   outline-offset: 0;
//   -webkit-box-shadow: 0 0 0 2px var(--mono-100);
//   box-shadow: 0 0 0 2px var(--mono-100);
// }
// *:focus:not(:focus-visible) {
//   outline: none;
//   box-shadow: none;
// }

.discussion-comments img {
  height: auto;
  max-width: 100%;
}
.text-staff-color {
  color: var(--mono-700);
}
.outline-staff-color {
  outline: var(--mono-700) solid 2px;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.post-footer-icon-dimensions {
  width: 32px !important;
  height: 32px !important;
}
.like-icon-dimensions {
  width: 21px !important;
  height: 23px !important;
}
.follow-icon-dimensions {
  width: 21px !important;
  height: 24px !important;
}
.dropdown-icon-dimensions {
  width: 20px !important;
  height: 21px !important;
}
.post-summary-icons-dimensions {
  height: 16px !important;
  width: 16px !important;
}
.post-summary-like-dimensions {
  height: 16px !important;
  width: 17px !important;
}
.post-summary-timestamp {
  font-size: 12px !important;
  line-height: 20px !important;
}
.post-summary-card-selected {
  border-right-width: 4px !important;
  border-right-style: solid !important;
}
// .my-14px {
//   margin-top: 14px;
//   margin-bottom: 14px;
// }
// .mr-0\.5 {
//   margin-right: 2px;
// }
// .mb-0\.5 {
//   margin-bottom: 2px;
// }
// .mt-0\.5 {
//   margin-top: 2px;
// }
// .ml-0\.5 {
//   margin-left: 2px;
// }
// .mt-14px {
//   margin-top: 14px;
// }
// .mt-10px {
//   margin-top: 10px;
// }
.discussion-post:hover {
  background-color: unset !important;
}
#learner-posts-link span[role="heading"]:hover {
  text-decoration: underline;
}
.sidebar-desktop-width {
  max-width: 28rem !important;
}
.pointer-cursor-hover :hover {
  cursor: pointer;
}
.filter-bar:focus {
  outline: none;
}
// #courseTabsNavigation {
//   font-size: 18px !important;
//   z-index: 3;
// }
.min-content-height {
  min-height: 80vh !important;
}
.header-action-bar {
  z-index: 2 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 2px 8px rgba(0, 0, 0, 0.15);
  top: 0;
}
.header-action-bar .nav-button-group .nav-item:not(:last-child) .nav-link {
  border-right: 0;
}
@media screen and (max-width: 567px) {
  .header-action-bar .nav-button-group .nav-item:not(:last-child) .nav-link {
    border-right: solid 1px var(--mono-200);
  }
}
.actions-dropdown {
  z-index: 1;
}
// .btn-icon.btn-icon-primary:hover {
//   background-color: #f0eeed !important;
//   color: var(--primary-500) !important;
// }
.post-card-padding {
  padding: 24px 24px 10px 24px;
}
.hover-card {
  height: 36px !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15), 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  max-width: fit-content !important;
  margin-left: auto;
  margin-top: -2.063rem;
  z-index: 1;
  right: 32px;
}
.hover-button:hover {
  background-color: #f0eeed !important;
  height: 36px !important;
  border: none !important;
}
.btn-tertiary:hover {
  background-color: #f0eeed !important;
}
.nav-button-group .nav-link:hover {
  background-color: #f0eeed !important;
}
.nav-button-group .nav-link.active {
  background-color: var(--primary-500) !important;
}
// .course-tabs-navigation .nav a:hover {
//   background-color: #f0eeed !important;
// }
.btn-tertiary:disabled {
  color: #454545 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.html-loader p:last-child {
  margin-bottom: 0px;
}
.post-card-comment {
  outline: none;
}
.post-card-comment:not(:hover) .hover-card,
.post-card-comment:not(:focus) .hover-card {
  display: none;
}
.post-card-comment:hover .hover-card {
  display: flex;
}
.post-card-comment .pgn__avatar {
  flex-shrink: 0;
}
.font-style {
  font-style: normal !important;
}
.line-height-24 {
  line-height: 24px !important;
}
.comment-line {
  width: calc(100% - 180px);
  line-height: 1;
}
.author-name {
  line-height: 1.5;
  word-break: break-all;
}
/*! CSS Used from: Embedded */
.align-bottom {
  vertical-align: bottom !important;
}
// .bg-white {
//   background-color: var(--mono-100) !important;
// }
.border-right {
  border-right: 1px solid #cccccc !important;
}
.border-bottom {
  border-bottom: 1px solid #cccccc !important;
}
.border-0 {
  border: 0 !important;
}
.d-flex {
  display: flex !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
// .flex-nowrap {
//   flex-wrap: nowrap !important;
// }
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.align-content-center {
  align-content: center !important;
}
.overflow-auto {
  overflow: auto !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-sticky {
  position: sticky !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.mw-100 {
  max-width: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-1\.5 {
  margin-right: 0.375rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mx-3 {
  margin-left: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.mr-4\.5 {
  margin-right: 2rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: 0.25rem !important;
}
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.px-2\.5 {
  padding-right: 0.75rem !important;
}
.px-2\.5 {
  padding-left: 0.75rem !important;
}
.pr-4 {
  padding-right: 1.5rem !important;
}
// .px-4 {
//   padding-left: 1.5rem !important;
//   padding-right: 1.5rem !important;
// }
.ml-n1\.5 {
  margin-left: -0.375rem !important;
}
.mr-n4 {
  margin-right: -1.5rem !important;
}
.ml-auto {
  margin-left: auto !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-break {
  word-break: break-word !important;
  word-wrap: break-word !important;
}
.text-reset {
  color: inherit !important;
}
.text-primary-500 {
  color: var(--primary-500) !important;
}
.border-primary-500 {
  border-color: var(--primary-500) !important;
}
.bg-light-300 {
  background-color: #f0eeed !important;
}
.bg-light-400 {
  background-color: var(--mono-200) !important;
}
.border-light-400 {
  border-color: var(--mono-200) !important;
}
.text-gray-500 {
  color: #707070 !important;
}
.text-gray-700 {
  color: #454545 !important;
}
.text-gray-900 {
  color: #212529 !important;
}
a.text-gray-900:hover,
a.text-gray-900:focus {
  color: black !important;
}
@media (min-width: 0) {
  .w-xs-100 {
    width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .w-xl-75 {
    width: 75% !important;
  }
}
.box-shadow-centered-1 {
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.15), 0 0 0.25rem rgba(0, 0, 0, 0.15);
}
.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  border-radius: 0.375rem;
  padding-left: 0;
}
.list-group-flush {
  border-radius: 0;
}
.pgn__avatar {
  border-radius: 100%;
  border: solid 1px #f0eeed;
  display: inline-block;
  height: 3rem;
  overflow: hidden;
  width: 3rem;
  object-fit: cover;
}
.pgn__avatar.pgn__avatar-md {
  height: 3rem;
  width: 3rem;
}
// .btn {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: 400;
//   color: #454545;
//   text-align: center;
//   vertical-align: middle;
//   -webkit-user-select: none;
//   user-select: none;
//   background-color: transparent;
//   border: 1px solid transparent;
//   padding: 0.5625rem 1rem;
//   font-size: 1.125rem;
//   line-height: 1.3333;
//   border-radius: 0.375rem;
// }
// .btn:hover {
//   color: #454545;
//   text-decoration: none;
// }
// .btn:disabled {
//   opacity: 0.65;
// }
// .btn-brand {
//   color: var(--mono-100);
//   background-color: #9d0054;
//   border-color: #9d0054;
// }
// .btn-brand:hover {
//   color: var(--mono-100);
//   background-color: #7e0043;
//   border-color: #7e0043;
// }
// .btn-brand:disabled {
//   color: var(--mono-100);
//   background-color: #9d0054;
//   border-color: #9d0054;
// }
// .btn-brand:not(:disabled):not(.disabled):active {
//   color: var(--mono-100);
//   background-color: #6e003b;
//   border-color: #6e003b;
// }
// .btn-brand:focus {
//   position: relative;
//   outline: 0;
//   box-shadow: none;
// }
// .btn-brand:focus::before {
//   content: "";
//   position: absolute;
//   top: -5px;
//   right: -5px;
//   bottom: -5px;
//   left: -5px;
//   border: solid 2px #9d0054;
//   border-radius: calc(0.375rem + 4px);
// }
// .btn-brand:focus.btn-sm::before {
//   border-radius: 0.375rem;
// }
// .btn-brand:focus:active::before {
//   opacity: 0.75;
// }
// .btn-brand:focus:disabled::before {
//   display: none;
// }
.btn-tertiary {
  color: #454545;
  background-color: transparent;
  border-color: transparent;
}
.btn-tertiary:hover {
  color: #454545;
  background-color: #e1dddb;
  border-color: transparent;
}
.btn-tertiary:disabled {
  color: #454545;
  background-color: transparent;
  border-color: transparent;
}
.btn-tertiary:not(:disabled):not(.disabled):active {
  color: #454545;
  background-color: #e1dddb;
  border-color: transparent;
}
.btn-tertiary:disabled {
  color: #454545;
}
.btn-tertiary:focus {
  position: relative;
  outline: 0;
  box-shadow: none;
}
.btn-tertiary:focus::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: solid 2px var(--primary-500);
  border-radius: calc(0.375rem + 4px);
}
.btn-tertiary:focus:active::before {
  opacity: 0.75;
}
.btn-tertiary:focus:disabled::before {
  display: none;
}
.btn-link {
  font-weight: 400;
  color: #006daa;
  text-decoration: none;
}
.btn-link:hover {
  color: #003c5e;
  text-decoration: underline;
}
.btn-link:focus {
  text-decoration: underline;
  box-shadow: none;
}
.btn-link:disabled {
  color: #707070;
  pointer-events: none;
}
// .btn-sm {
//   padding: 0.4375rem 0.75rem;
//   font-size: 0.875rem;
//   line-height: 1.4286;
//   border-radius: 0.25rem;
// }
.card,
.collapsible-card-lg {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--mono-100);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
}
.collapsible-card-lg {
  border-radius: 0;
}
.collapsible-card-lg .collapsible-trigger {
  padding: 0.5rem 0.5rem;
  border-radius: calc(0.375rem - 1px);
  border-bottom: 1px solid transparent;
  transition: border-color 100ms ease 150ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}
.collapsible-card-lg .collapsible-trigger > * {
  margin-bottom: 0;
  margin-top: 0;
}
.collapsible-card-lg .collapsible-trigger {
  padding: 0.75rem 1.25rem;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
[dir="ltr"] .dropdown-toggle::after {
  margin-left: 0.255em;
}
[dir="ltr"] .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropdown-toggle::after {
  border: 0;
  border-style: solid;
  content: "";
  height: 0.45rem;
  margin-inline-start: 0.5em;
  position: relative;
  top: -0.05rem;
  width: 0.45rem;
}
[dir="ltr"] .dropdown-toggle::after {
  border-width: 0.15rem 0.15rem 0 0;
  transform: rotate(135deg);
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.3333em + 1.125rem + 2px);
  padding: 0.5625rem 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333;
  color: #454545;
  background-color: var(--mono-100);
  background-clip: padding-box;
  border: 1px solid #707070;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control:focus {
  color: #454545;
  background-color: var(--mono-100);
  border-color: var(--primary-500);
  outline: 0;
  box-shadow: 0 0 0 1px var(--primary-500);
}
.form-control::placeholder {
  color: #707070;
  opacity: 1;
}
.form-control:disabled {
  background-color: #ebebeb;
  opacity: 1;
}
.form-control:hover {
  border: solid 1px #1f3226;
}
.pgn__icon {
  display: block;
  height: 1.5rem;
  position: relative;
  width: 1.5rem;
  flex-shrink: 0;
}
.pgn__icon svg {
  display: block;
  height: 100%;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
}
[dir="ltr"] .nav {
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #454545;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
  color: #454545;
}
.nav-pills .nav-link {
  border-radius: 0.375rem;
}
.nav-pills .nav-link.active {
  color: var(--mono-100);
  background-color: var(--primary-500);
}
.nav-button-group .nav-link {
  border: solid 1px var(--mono-200);
}
[dir="ltr"] .nav-button-group .nav-link:first-child {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
[dir="ltr"] .nav-button-group .nav-link:last-child {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.nav-button-group .nav-link:hover {
  background: var(--mono-200);
}
.nav-button-group .nav-link.active {
  color: var(--mono-100);
  background-color: var(--primary-500);
  border-color: transparent;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.pgn__searchfield {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 0.0625rem solid #707070;
}
.pgn__searchfield .pgn__searchfield-form {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--mono-100);
}
.pgn__searchfield:disabled {
  opacity: 0.3;
  pointer-events: none;
}
.pgn__searchfield:hover,
.pgn__searchfield:active {
  border-color: var(--mono-900);
}
.pgn__searchfield .form-control {
  border: none;
  border-radius: 0;
  height: calc(1.3333em + 1.125rem);
}
.pgn__searchfield .form-control:focus {
  box-shadow: none;
}
.pgn-transition-replace-group {
  transition: height 300ms ease;
  text-align: start;
}
.btn-icon {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  border: none;
}
.btn-icon.btn-icon-sm {
  width: 2.25rem;
  height: 2.25rem;
}
.btn-icon .btn-icon__icon-container {
  display: inline-flex;
  align-self: center;
}
.btn-icon .btn-icon__icon-container .pgn__icon.btn-icon__icon {
  height: 1.5rem;
  width: 1.5rem;
}
.btn-icon .btn-icon__icon {
  height: 1em;
  width: 1em;
}
.btn-icon:disabled {
  opacity: 0.65;
  pointer-events: none;
}
.btn-icon.btn-icon-primary {
  background-color: transparent;
  color: var(--primary-500);
}
.btn-icon.btn-icon-primary:hover,
.btn-icon.btn-icon-primary:active {
  background-color: var(--primary-500);
  color: white;
}
.btn-icon.btn-icon-primary:focus {
  outline: 2px transparent;
  background-color: transparent;
  color: var(--primary-500);
  box-shadow: inset 0 0 0 2px var(--primary-500);
}
