---
layout: main.njk
permalink: /faq/
meta:
  title: "FAQ"
---
{%- set header = pages['faq'].header-%}
<div class="main-panel">

  <article>
    <header id="{{ id }}" class="main-header {{ id }}">
      <h1>{{ header.heading }}</h1>
      {%- if header.description -%}
      <p>{{ header.description | safe }}</p>
      {%- endif -%}
    </header>
    {%- set sections = pages['faq'] | omit(['header']) -%}
    {%- for id, section in sections -%}
    <section id="{{ id }}" class="main-section {{ id }}">
      <h2>{{ section.heading | safe }}</h2>
      <p>{{ section.description | safe }}</p>
    </section>
    {%- endfor -%}
    {%- back_to 'footer' -%}
  </article>

  <!-- Sidebar -->
  {% include 'modules/components/sidebar.njk' ignore missing %}

</div>
