---
layout: main
permalink: /social-impact/
meta:
  title: "Social Impact"
---
{%- set header = pages['social-impact'].header -%}
<div class="main-panel">

  <article>
    <header id="{{ id }}" class="main-header {{ id }}">
      <h1>{{ header.heading }}</h1>
      {%- if header.description -%}
        <p>{{ header.description | safe }}</p>
      {%- endif -%}
    </header>
    {%- set sections = pages['social-impact'] | omit(['header']) -%}
    {%- for id, section in sections -%}
    <article id="{{ id }}" class="main-article {{ id }}">
      <header id="{{ id }}" class="main-header {{ id }}">
        <h2>{{ sections.article.heading }}</h2>
      </header>
      {%- for ident, subsections in section | omit(['heading']) -%}
      <section id="{{ ident }}">
      {%- for a, item in subsections -%}
        {# This is one way to check for the heading #}
        {%- if item | is_string -%}
        <h3>{{ item }}</h3>
        {# This is one way to retrieve the links #}
        {%- elif item | is_object -%}
        <ul>
        {%- for idx in range(0, item.length) -%}
          <li>
            {%- external_link item[idx].url, item[idx].label -%}
          </li>
        {%- endfor -%}
        </ul>
        {%- endif -%}
        {%- endfor -%}
      </section>
      {%- endfor -%}
    </article>
    {%- endfor -%}
    {%- back_to 'footer' -%}
  </article>

  <!-- Sidebar -->
  {% include 'modules/components/sidebar.njk' ignore missing %}

</div>
