---
layout: main.njk
permalink: /support/
meta:
  title: "Support"
---
{%- set header = pages['support'].header -%}
<div class="main-panel">

  <article>
    <header id="{{ id }}" class="main-header {{ id }}">
      <h1>{{ header.heading }}</h1>
      {%- if header.description -%}
      <p>{{ header.description | safe }}</p>
      {%- endif -%}
    </header>
    {%- set sections = pages['support'] | omit(['header']) -%}
    {%- for id, section in sections -%}
    <section id="{{ id }}" class="main-section {{ id }}">
      <h2>{{ section.heading | safe }}</h2>
      <ul>
        {%- for idx in range(0, section.list.length) -%}
          <li>{{ section.list[idx] | safe }}</li>
        {%- endfor -%}
      </ul>
    </section>
    {%- endfor -%}
    {%- back_to 'footer' -%}
  </article>

  <!-- Sidebar -->
  {% include 'modules/components/sidebar.njk' ignore missing %}

</div>
