{%- set footer -%}{%- include 'layouts/components/footer.njk' -%}{%- endset -%}
{%- set footer = footer | minify_html | stringify | replace("GYM_ROOT_URL", config.urls.root) -%}
{%- set error_404 -%}{%- include 'modules/components/404.njk' -%}{%- endset -%}
{%- set error_404 = error_404 | minify_html | stringify | replace("GYM_ROOT_URL", config.urls.root) -%}
{# Important: note the inclusion of double quotes when replacing '"FOOTER_HTML"' #}
{
  "meta": {{ config.meta | stringify | safe }},
  "domains": {{ config.domains | stringify | safe }},
  "urls": {{ config.urls | stringify | safe }},
  "header": {{ config.header | stringify | replace("GYM_ROOT_URL", config.urls.root) | replace("GYM_LMS_URL", config.urls.lms) | safe }},
  "logos": {{ config.logos | stringify | safe }},
  "msg": {{ config.msg | stringify | replace("GYM_ROOT_URL", config.urls.root) | replace("GYM_LMS_URL", config.urls.lms) | safe }},
  "html": {{ config.html | stringify | replace('"FOOTER_HTML"', footer) | replace('"404_HTML"', error_404) | safe }},
  {# "bios": {{ bios | stringify | safe }},
  "courses": {{ courses | stringify | safe }}, #}
  "bios": "",
  "courses": "",
  "markets": {{ data.markets | stringify | safe }},
  "paths": {{ config.paths | stringify | safe }},
  "colors": {{ config.colors | stringify | safe }},
  "css": {{ config.css | stringify | safe }}
}
