{%- set footer -%}{%- include 'layouts/components/footer.njk' -%}{%- endset -%}
{#- URL Processing:
- replace all src/srcset base urls with static site assets url
- ensure all DUMMY_STRINGS are replaced with actual URL values
-#}
{%- set footer = footer | replace('src=\"GYM_ROOT_URL', 'src=\"STATIC_ASSETS_URL') | replace('srcset=\"GYM_ROOT_URL', 'srcset=\"STATIC_ASSETS_URL') | replace("GYM_ROOT_URL", config.main.urls.root) | replace("STATIC_ASSETS_URL", config.main.urls.STATIC_ASSETS_URL) -%}
{%- set footer = footer | minify_html | stringify -%}
{%- set error_404 -%}{%- include 'modules/components/404.njk' -%}{%- endset -%}
{%- set error_404 = error_404 | minify_html | stringify | replace("GYM_ROOT_URL", config.main.urls.root) -%}
{# Important: note the inclusion of double quotes when replacing '"FOOTER_HTML"' #}
{
  "meta": {{ config.main.meta | stringify | safe }},
  "domains": {{ config.main.domains | stringify | safe }},
  "urls": {{ config.main.urls | stringify | safe }},
  "header": {{ config.main.header | stringify | replace("GYM_ROOT_URL", config.main.urls.root) | replace("GYM_LMS_URL", config.main.urls.lms) | safe }},
  "logos": {{ config.main.logos | stringify | safe }},
  "msg": {{ config.main.msg | stringify | replace("GYM_ROOT_URL", config.main.urls.root) | replace("GYM_LMS_URL", config.main.urls.lms) | safe }},
  "html": {{ config.main.html | stringify | replace('"FOOTER_HTML"', footer) | replace('"404_HTML"', error_404) | safe }},
  {# "bios": {{ bios | stringify | safe }},
  "courses": {{ courses | stringify | safe }}, #}
  "bios": "",
  "courses": "",
  "markets": {{ data.markets | stringify | safe }},
  "paths": {{ config.main.paths | stringify | safe }},
  "colors": {{ config.main.colors | stringify | safe }}
}
