{%- if hero -%}
  {%- if not hero_cat -%}
    <em>{ Hero Module }</em>
    <p>Your images won't work unless you provide a hero_cat variable</p>
  {%- endif  -%}
  {%- if hero.img.url -%}
    {# TODO: do something if we have an anomalous URL that doesn't fit the pattern below #}
  {%- endif -%}
  {%- if not heroClass -%}
    {%- set heroClass = "hero" -%}
  {%- endif -%}
  {%- if img_preload.css -%}
  <link rel="preload" href="{{ hero.img_preload }}" as="image" media="(min-width: 75em)" fetchpriority="high">
  {%- endif -%}
  {%- if hero.css -%}
  <link rel="stylesheet" href="/css/heros/{{ hero.css }}" fetchpriority="high">
  {%- endif -%}
  <article class="{{ heroClass }} {{ hero.layout }}" id="{{ hero.slug }}">
    <div class="container">
      {%- if hero.img -%}
      <div class="image">
        {%- macro picture() -%}
          <picture decoding="async" fetchpriority="high">
            <source srcset="/img/hero/{{ hero_cat }}/{{ hero.slug }}/{{ hero.slug }}-768w.jpg" width="768" height="714" media="(min-width: 1200px)">
            <img alt="{{ hero.img.description }}" src="/img/hero/{{ hero_cat }}/{{ hero.slug }}/{{ hero.slug }}-1280w.jpg" width="1280" height="720">
          </picture>
        {%- endmacro -%}
        {%- if hero.cta.url| is_external_link -%}
          {%- external_link hero.cta.url, picture() -%}
        {%- else -%}
          <a href="{{ hero.cta.url }}">{{ picture() }}</a>
        {%- endif -%}
      </div>
      {%- endif -%}
      {%- if hero.include -%}
      {# TODO: Include as partial? #}
      <!-- Take 5 tutorials evergreen -->
      {%- if hero.slides -%}
      {% for slide in hero.slides %}
      <div class="{{ slide | replace('-\\d+', '') }}" id="{{ slide }}"></div>
      {% endfor %}
      {%- endif -%}
      <!-- / Take 5 tutorials evergreen -->
      {%- endif -%}
      <header>
        <hgroup>
          <p class="subhead caps">{{ hero.subtitle }}</p>
          <h1>{{ hero.title }}</h1>
        </hgroup>
        {# TODO: we need to figure out some conditional logic to handle when a future livestream becomes a past recording. In the interest of simplicity, I might suggest creating a recordings category?  #}
        {%- if hero.guest -%}
          <p class="guest">{{ hero.guest }}</p>
        {%- else -%}
          <p>{{ hero.description }}</p>
        {%- endif -%}
        <div class="cta">
          {%- if hero.cta.href | is_external_link -%}
            {%- external_link hero.cta.href, hero.cta.label, 'btn' -%}
          {%- else -%}
            <a href="{{ hero.cta.url }}" class="btn">{{ hero.cta.label }}</a>
          {%- endif -%}
        </div>
      </header>
    </div>
  </article>
{%- else -%}
  <em>{ Hero Module Placeholder }</em>
  <p>Pass in the hero variable to make this work</p>
{%- endif -%}
