{%- if not header  -%}
  {%- set header = module.header -%}
{%- endif -%}
{%- include 'modules/components/header.njk' -%}

<form id="location-select" class="location-select">
  <label for="location">Select a location nearest you:</label>
  <select name="location" id="location" class="form-control">
    <option value="">Select a location</option>

    <hr>

    <option value="remote">Remote, all locations</option>

    <hr>

    <optgroup label="Australia">
      {%- for market in data.markets -%}{%- if market['regions'][0] == 'Australia' -%}
      <option data-slug="{{ market.id }}" value="{{ market.cloudwall_id }}">{{ market.name }}</option>
      {%- endif -%}{%- endfor -%}
    </optgroup>

    <optgroup label="Canada">
      {%- for market in data.markets -%}{%- if market.country == 'Canada' -%}
      <option data-slug="{{ market.id }}" value="{{ market.cloudwall_id }}">{{ market.name }}</option>
      {%- endif -%} {%- endfor -%}
    </optgroup>

    <optgroup label="Europe">
      {%- for market in data.markets -%}{%- if market['regions'][0] == 'Europe' -%}
      <option data-slug="{{ market.id }}" value="{{ market.cloudwall_id }}">{{ market.name }}</option>
      {%- endif -%}{%- endfor -%}
    </optgroup>

    <optgroup label="Japan">
      {%- for market in data.markets -%}{%- if market['regions'][0] == 'Japan' -%}
      <option data-slug="{{ market.id }}" value="{{ market.cloudwall_id }}">{{ market.name }}</option>
      {%- endif -%}{%- endfor -%}
    </optgroup>

    <optgroup label="United States">
      {%- for market in data.markets -%}{%- if market['regions'][0] == 'North America' and market.country != 'Canada' -%}
      <option data-slug="{{ market.id }}" value="{{ market.cloudwall_id }}">{{ market.name }}</option>
      {%- endif -%}{%- endfor -%}
    </optgroup>
  </select>
</form>

<div id="messages">
  <div id="loading" class="loading">
    <p><strong>Hold On:</strong> Please wait while we find you some jobs…</p>
  </div>
  <div id="error-results" class="hide">
    <p><strong>It’s Not You, It’s Us:</strong> We’re unable to find jobs in this location. <em>Please try another location or check back later for new jobs.</em></p>
  </div>
  <div id="error-general" class="hide">
    <p><strong>We’re On It:</strong> Something broke on our end and we’re working to fix it. <em>Continue exploring jobs at <a href="https://aquent.com/find-work/?utm_source=gymnasium&amp;utm_medium=web&amp;utm_campaign=job-module&amp;utm_content=textlink" target="_blank" rel="noopener">Aquent</a>.</em></p>
  </div>
</div>
{%- set base_params = "?pageSize=10" -%}
{%- if module.roles -%}
  {%- set feed_params -%}
    {%- for role in module.roles -%}&roles[]={{ role }}{%- endfor -%}
  {% endset -%}
{%- endif -%}

{%- if feed_params -%}
  {%- set params -%}{{ base_params }}{{ feed_params }}{%- endset -%}
{%- else -%}
  {%- set params = base_params -%}
{%- endif -%}
<div id="jobs-container" class="jobs-container list-hr"
    data-options="heading:h3;category:false;limit:10;"
    data-utm="utm_source=gymnasium&amp;utm_medium=web&amp;utm_campaign=job-module&amp;utm_content=textlink"
    data-feed="{{ data.JOB_API }}{{ params | safe }}" data-urls="{{ data.JOBDATA.urls | stringify }}">
</div>
