<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {%- for idx in range(0, item.ids.length) -%}
      {%- set course = collections.catalog[item.ids[idx].id] -%}
      {%- set id = course.id -%}
      {%- set path = id | get_path -%}
      {%- set title = course.title | strip_html -%}
      {%- set slug = title | slugify -%}
      {%- set course_about_url = config.main.urls.production + '/courses/' + slug ~ '/' -%}
      {%- set description = course.description | strip_html -%}
      {%- set bio = bios[course.instructor] -%}
      {%- set bio_name = bio.name -%}
      {%- set bio_description = bio.description | strip_html -%}
      {%- set bio_img = config.main.urls.production + bio.img -%}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "item": {
          "@type": "Course",
          "name": "{{ title }}",
          "description": "{{ description }}",
          "image": "{{ config.main.urls.production }}{{ config.main.paths.img.og }}courses/{{ id | lowercase }}.png",
          "url": "{{ course_about_url }}",
          "provider": {
            "@type": "School",
            "name": "Gymnasium",
            "sameAs": "{{ config.main.urls.production }}"
          },
          "hasCourseInstance": {
            "@type": "CourseInstance",
            "courseMode": "Online",
            "courseWorkload": "{{ course.duration_8601_format }}",
            "educationalLevel": "{{ course.skill_level }}",
            "instructor": [{
              "@type": "Person",
              "name": "{{ bio_name }}",
              "description": "{{ bio_description }}",
              "image": "{{ bio_img }}"
            }]
          },
          "offers": {
            "@type": "Offer",
            "category": "free"
          }
        }
      }{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}
</script>
