<!-- Take 5 tutorials evergreen -->
<div class="image-group" role="img" aria-label="{{ hero.alt_text }}">
{% for img_num in hero.artwork %}
  {% if img_num < 10 %}
    {% set fmt_num = '000' + img_num %}
  {% elif img_num < 100 %}
    {% set fmt_num = '00' + img_num %}
  {% else %}
    {% set fmt_num = img_num %}
  {% endif %}
  {% set tutorial_data = tutorials[ "GYM-" + fmt_num ] %}
  <img class="slide" id="slide-{{ loop.index }}"
    alt="{{ tutorial_data.title }} video poster."
    srcset="/img/tutorials/poster/gym-{{ fmt_num }}.jpg 1280w,
           /img/tutorials/hero/gym-{{ fmt_num }}.jpg 1920w"
    sizes="(max-width: 75em) 100vw, 50vw"
    src="/img/tutorials/poster/gym-{{ fmt_num }}.jpg"
    width="1280"
    height="720"
    decoding="async"
    {% if loop.index == 1 %} fetchpriority="high"{% endif %}
    {% if loop.index > 1 %} fetchpriority="low"{% endif %}>
{% endfor %}
</div>
<!-- / Take 5 tutorials evergreen -->
