---
layout: main.njk
permalink: /pattern-library/
eleventyComputed:
  meta:
    title: "Pattern Library"
meta:
  sitemapExclude: true
eleventyExcludeFromCollections: true
---
<style>
main {
  background-color: white;
}
</style>

<h2>Typography</h2>
<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>
<h5>H5</h5>
<h6>H6</h6>
<p>Paragraph</p>
<p class="caps">Paragraph with <code>.caps</code> class.</p>
<h2>Links/Buttons</h2>
<a href="#">Link</a>
<a href="#" class="btn">Button</a>
<a href="#" class="btn secondary">Button (Secondary)</a>
<a href="#" disabled class="btn disabled">Button (Disabled)</a>

<h2>Background Color Classes</h2>
<p>With built-in color contrast detection for foreground colors.</p>

<section>
  <div class="bg-mono-100">.bg-mono-100</div>
  <div class="bg-mono-400">.bg-mono-400</div>
  <div class="bg-mono-700">.bg-mono-700</div>
  <div class="bg-mono-800">.bg-mono-800</div>
  <div class="bg-mono-900">.bg-mono-900</div>
  <div class="bg-green">.bg-green</div>
  <div class="bg-magenta">.bg-magenta</div>
  <div class="bg-teal">.bg-teal</div>
  <div class="bg-purple">.bg-purple</div>
</section>

<h3>Dotted Bottom</h3>
<p>Probably needs some revision to work better with darker tones/colors.</p>
<br><br>
<section>
  <div class="bg-mono-700 dotted-bottom">.bg-mono-700.dotted-bottom</div>
  <br>
  <div class="bg-mono-400 dotted-bottom">.bg-mono-400.dotted-bottom</div>
  <br>
  <div class="bg-mono-900 dotted-bottom">.bg-mono-900.dotted-bottom</div>
</section>


{# TODO:
- figure out how to make absolute paths work. seems lame to only have it work using relative paths.

 #}
{# Comment out until https://github.com/gymnasium/gym-eleventy/issues/7
{% image "../../img/courses/svg/gym-000.svg", "11ty Images example processing multiple web compatible images from SVG" %} 
#}