{%- if module -%}
  {%- if module.header -%}
    {%- set header = module.header -%}
    {%- include 'modules/components/header.njk' -%}
  {%- endif -%}
  {%- set filtered = module | omit(['section_id', 'section_class', 'module', 'header', 'description', 'schema', 'cta']) -%}
  {%- for key, item in filtered -%}
    <div id="{{ key }}" class="{{ key }}">
      {%- if item.header -%}
        {%- set header = item.header -%}
        {%- include 'modules/components/header.njk' -%}
      {%- endif -%}

      {# Include a schema block #}
      {%- if (item.schema and item.ids) -%}
        {% block schema %}
          {% include 'modules/schema.njk' %}
        {% endblock %}
      {%- endif -%}

      {# If we pass in data IDs, use those to fetch data directly #}
      {%- if item.ids -%}
        <ul class="list-unstyled">
          {%- for idx in range(0, item.ids.length) -%}
            {%- set filteredId = collections.catalog | get_key(item.ids[idx].id) -%}
            {%- set obj = collections.catalog[filteredId] -%}
            {%- set path = obj.id | get_path -%}
            {%- set img = obj.img -%}
            {%- set title = obj.title | strip_html -%}
            {%- set description = obj.description -%}

            {%- if obj.slug -%}
              {%- set slug = obj.slug -%}
            {%- else -%}
              {%- set slug = title | slugify -%}
            {%- endif -%}

            {%- set shortId = obj.id -%}
            {%- set type = obj.type -%}

            {# TODO: standardize image locations for ease of development #}
            {%- set src = img -%}

            {%- if type === 'livestream' -%}
              {%- set src = '/img/hero/livestreams/' ~ (img.slug | default(slug)) ~ '/' ~ (img.slug | default(slug)) ~ '-' ~ img.sizes[0] ~ '.' ~ img.format -%}
            {%- endif -%}
            {%- if type === 'webinar' -%}
              {%- set src = '/img/webinars/poster/' ~ slug ~ '.jpg' -%}
            {%- endif -%}

            {%- set srcSet = src -%}

            {% block id_list_item %}
              <li><cite><a href="{{ path }}{{ slug }}">{{ title }}</a></cite></li>
            {% endblock %}
          {%- endfor -%}
        </ul>
      {%- elif item.links -%}
        <ul class="list-unstyled">
        {%- for idx in range(0, item.links.length) -%}
          {%- set title = item.links[idx].label -%}
          {%- set href = item.links[idx].href -%}

          {% block item %}
          <li>
            {# Figure out if we are using an internal or external URL #}
            <cite>
            {% if (item.links[idx].href | is_external_link) -%}
              {%- external_link item.links[idx].href,item.links[idx].label -%}
            {%- else -%}
              <a href="{{ item.links[idx].href }}">{{ item.links[idx].label }}</a>
            {%- endif -%}
            </cite>
            {%- if item.links[idx].description -%}
              <p>{{ item.links[idx].description | safe }}</p>
            {%- endif -%}
          </li>
          {% endblock %}

        {%- endfor -%}
        </ul>
      {%- endif -%}

    </div>
  {%- endfor -%}

  {%- if module.cta -%}
    <div class="cta">
      <a class="{{ module.cta.class }}" href="{{ module.cta.href }}">{{ module.cta.label }}</a>
    </div>
  {%- endif -%}

{%- else -%}
  <em>{ List Module Placeholder }</em>
  <p>Pass in the `module` variable to make this work</p>
{%- endif -%}
