@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

html {
  height: 100%;
  max-height: 100%;
}

body {
  background-color: var(--mono-200);
  min-height: 100%;

  &.view-in-mfe {
    background-color: var(--mono-100);
  }

  &.view-in-course {
    main {
      background-color: var(--mono-100);

      > .container {
        padding: 1rem;
      }
    }
  }
}

.content-wrapper,
.main-container,
.page-banner {
  @include container;
}


// main.django stuff
.window-wrap {
  .content-wrapper {
    padding: 1.4rem 1rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    background: var(--mono-100);
    border: 0;

    @include breakpoint(medium) {
      max-width: calc(75rem - 2rem);
    }

    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.alert {
  color: inherit;
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: start;
  background-color: var(--mono-100);
  border: rem-calc(1) solid var(--mono-300);
  border-radius: 0;
  margin: 1rem auto -0.5rem;
  padding: 1rem;
  position: relative;

  .enroll-btn {
    padding: 0;
  }
}
