@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

// Staff action menu
.wrapper-preview-menu {
  background-color: var(--primary-500);
}

.preview-menu {
  padding: 1rem;
}

.preview-actions {
  padding: 0;
  margin: 0;
}

.action-preview {
  display: inline-block;

  form {
    margin: 0;
    display: inline-flex;
  }

  label {
    margin-right: 10px;
    margin-bottom: 0;
    color: var(--mono-100);
  }

  select {
    padding: 1rem;
    margin: 0;
  }
}

.action-preview-username-container {
  display: none;
}

.action-preview button {
  width: auto;
}

// Course header
.course-header {
  background-color: var(--mono-600);
  padding: 1rem 0;
  font-size: 1.3rem;
  font-family: var(--font-family-custom);
  text-transform: uppercase;
  font-weight: bold;

  .pretty-course-id {
    display: none;
  }
}

// self explanatory
.instructor-dashboard-wrapper-2,
.page-content-container {
  background-color: var(--mono-100);
  padding: 1.4rem;
  border: 1px solid var(--mono-400);
  border-radius: 3px;
  margin-bottom: 1.4rem;
}


// course wrapper
.course-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;

  .xblock {
    word-wrap: break-word;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
  }

  iframe {
    height: 100%;
    min-height: 100%;
  }
}


// for LMS theme IFRAMEs shown in the learning MFE
.view-in-mfe {

  // Hide final exam header
  // h3.problem-header {
  //   display: none;
  // }

  // Hide final exam score
  // .xmodule_display.xmodule_ProblemBlock .problem-progress {
  //   display: none;
  // }

  // Exam component styling. TODO: populate with style fixes for exam
  .problem {
    h2 {

    }

    fieldset {

    }

    .field {
      input {

      }
      label {

      }
    }

    legend {

    }
  }

  .action {

  }

  .problem-action-buttons-wrapper {

    .problem-action-btn {
      max-width: none;

      .show-label {
        text-transform: capitalize;
      }
    }

  }

  .submit-attempt-container {
    [type=submit] {

    }

    .submission-feedback {

    }
  }

}
