@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

body.view-instructordash {

  .btn {
    all: unset;
  }

  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    &-times-circle:before {
      content: "\f057";
    }
  }
  
  .msg {
    margin: 10px 0 10px 26px;
  }
  
  .instructor-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    border-bottom: 1px solid #c8c8c8;
  
    .nav-item {
      font-size: 16px;
      line-height: 23.68px;
      display: inline-block;
  
      .btn-link {
        font-weight: 600;
        color: black;
        display: inline-block;
        padding: 10px;
        border: 0;
        box-shadow: none;
        text-shadow: none;
    
        &:hover, &:focus {
          text-decoration: none !important;
          border-bottom: 3px solid #0075b4;
        }
  
        &.active-section {
          border-bottom: 3px solid #0075b4;
          color: var(--mono-900);
        }
      }
    }
  
    li {
      margin: 0;
      padding: 0;
    }
  }

  .member-list-widget {
    .label,
    .member-list th,
    .member-list td {
      font-size: 14px;
      line-height: 20.72px;
    }
  }

  .instructor-info-action,
  .hint {
    font-size: 12px;
    line-height: 17.76px;
  }

  .instructor-info-action {
    float: right;
    margin-left: 10px;
    text-align: right;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--mono-100);
    color: var(--mono-600);
    text-transform: uppercase;

    &:hover {
      background-color: var(--mono-600);
      color: var(--mono-100);
    }
  }

  .wrap-instructor-info {
    margin: 10px 5px 0 0;
    display: none;
  
    @include breakpoint(medium, min) {
      display: block;
    }
  
    &.studio-view {
      margin: 0;
      display: inline;
    }
  }

  .msg {
    border-radius: 1px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .msg-confirm {
    display: none;
    background: #f2f9f2;
    border-top: 2px solid #008401;
    color: #008401;
  }

  .msg-error {
    border-top: 2px solid #d0021b;
    background: #fae6e8;
  }

  .wrap-instructor-info {
    display: inline;
    top: 0;
  }

  .request-response-error {
    margin: 0;
    padding-bottom: 20px;
    color: #cb0712;
  }

  .instructor-dashboard-title {
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.instructor-dashboard-wrapper-2 {
  position: relative;
}

// Instructor panel active tabs
.idash-section {
  display: none;
  margin-top: 30px;

  &.active-section {
    display: block;
  }

  .no-pending-tasks-message {
    display: none;

    p {
      color: #474747;
      font-style: italic;
    }
  }
  .running-tasks-section {
    display: none;
  }
}

// Instructor tab
.view-instructordash {}

body.view-in-course .instructor-dashboard-wrapper-2 {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

body.view-instructordash {
  .content-wrapper {
    .container > div {
      display: table;
      table-layout: fixed;
      width: 100%;
      border: 1px solid #c8c8c8;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
  }
}

.instructor-dashboard-content-2 {
  display: block;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  vertical-align: top;
}

.instructor-dashboard-content-2 .instructor-dashboard-title {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 0;
  border-bottom: 0;
}

.instructor-dashboard-content-2 .wrap-instructor-info {
  display: inline;
  top: 0;
  margin: 0;
}

// Instructor info button is hidden on small screens?
.wrap-instructor-info {
  margin: 10px 5px 0 0;
  display: none;
  clear: both;

  @include breakpoint(medium, min) {
    display: block;
  }
}

.instructor-dashboard-content-2 .instructor-nav,
.instructor-dashboard-content-2 .data-download-nav {
  border-bottom: 1px solid #c8c8c8;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item,
.instructor-dashboard-content-2 .data-download-nav .nav-item {
  display: inline-block;
  font-size: 16px;
  line-height: 23.68px;
  margin: 0;
  padding: 0;
}

.instructor-dashboard-content-2
  .instructor-nav
  .nav-item
  .btn-link.active-section,
.instructor-dashboard-content-2
  .data-download-nav
  .nav-item
  .btn-link.active-section {
  border-bottom: 3px solid #0075b4;
  color: #000;
  display: inline-block;
  padding: 10px;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.wrap-instructor-info .instructor-info-action {
  float: right;
  margin-left: 10px;
  text-align: right;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #c2387d;
  text-transform: uppercase;
}

.instructor-dashboard-content-2 {
  a:not(.btn),
  a:visited:not(.btn) {
    color: #0075b4;
    font: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s;
  }

  .btn-link {
    border-radius: 0;
    border-color: transparent;
    padding: 1px;
    background: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    white-space: nowrap;
    color: #0075b4;
  }

  input, select, textarea {
    width: auto;
    display: inline-block;
    padding: 5px 10px;
  }

  input[type="button"].add {
    border: 1px solid #00476d;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #0ca3f5;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #0075b4;
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #003958;
    background-clip: padding-box;
    margin-bottom: 1em;
    line-height: 1.3em;
    position: absolute;
    right: 20px;
  }

  // textarea
  textarea,
  .CodeMirror {
    margin-top: 0.2em;
    height: auto;
    width: 90%;
  }

  input[type="button"] {
    border: 1px solid var(--mono-900);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: var(--mono-900);
    display: inline-block;
    font-weight: bold;
    background-color: var(--mono-300);
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #f9f8f8;
    background-clip: padding-box;
    margin-bottom: 1em;
    font-size: 1rem;
    line-height: 1;
  }

  .member-list {
    table {
      width: 100%;
    }

    thead {
      background-color: #dddddd;
    }

    tr {
      border-bottom: 1px solid #dddddd;
    }

    th, td {
      vertical-align: middle;
      padding: 10px 5px;
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      word-wrap: break-word;
    }
  }


}



.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .membership-section {
  margin-bottom: 30px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .membership-section:last-child {
  margin-bottom: 0;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .membership-section
  legend {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .batch-enrollment
  textarea,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .batch-beta-testers
  textarea {
  margin-top: 0.2em;
  height: auto;
  width: 90%;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .batch-enrollment
  input,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .batch-beta-testers
  input {
  margin-right: 5px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .enroll-option {
  margin: 10px 0;
  position: relative;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .enroll-option
  .hint {
  display: block;
  position: absolute;
  top: 10px;
  left: -9999em;
  padding: 10px;
  width: 50%;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .enroll-option
  .hint
  .hint-caret {
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  border-right: 8px solid #f9f9f9;
  border-left: 8px solid transparent;
  border-top: 8px solid #f9f9f9;
  border-bottom: 8px solid transparent;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .enroll-option
  .has-hint:hover
  > .hint {
  left: 200px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .enroll-option
  .has-hint
  input:focus
  ~ .hint {
  left: 200px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .wrapper-member-select {
  padding: 10px;
  background-color: var(--mono-300);
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .member-lists-selector {
  display: block;
  margin: 5px 0;
  padding: 5px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container {
  display: none;
  margin-bottom: 30px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container.active {
  display: block;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .header {
  box-sizing: border-box;
  border-top-left-radius: 3;
  border-top-right-radius: 3;
  position: relative;
  padding: 10px;
  background-color: #efefef;
  border: 1px solid var(--mono-300);
  display: none;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .title {
  font-size: 16px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .label {
  color: #646464;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .info {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--mono-300);
  color: #646464;
  line-height: 1.3em;
  font-size: 0.85em;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list {
  box-sizing: border-box;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  table {
  width: 100%;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  thead {
  background-color: var(--mono-300);
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  tr {
  border-bottom: 1px solid var(--mono-300);
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  th,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  td {
  vertical-align: middle;
  padding: 10px 5px;
  border-left: 1px solid var(--mono-300);
  border-right: 1px solid var(--mono-300);
  word-wrap: break-word;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .bottom-bar {
  box-sizing: border-box;
  border-bottom-left-radius: 3;
  border-bottom-right-radius: 3;
  position: relative;
  padding: 10px;
  margin-top: -1px;
  border: 1px solid var(--mono-300);
  background-color: var(--mono-200);
  box-shadow: inset var(--mono-400) 0 1px 1px 0;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  input[type="button"].add {
  border: 1px solid #00476d;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #0ca3f5;
  color: var(--mono-100);
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #0075b4;
  background-image: -webkit-linear-gradient(#0075b4, #00517c);
  background-image: linear-gradient(#0075b4, #00517c);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #003958;
  background-clip: padding-box;
  margin-bottom: 1em;
  padding: 8px 17px;
  font-size: 0.8125em;
  line-height: 1.3em;
  position: absolute;
  right: 20px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  input[type="button"].add:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #0783c6;
  cursor: pointer;
  background-color: #036397;
  background-image: -webkit-linear-gradient(#036397, #00476d);
  background-image: linear-gradient(#036397, #00476d);
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  input[type="button"].add:active:not(:disabled),
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  input[type="button"].add:focus:not(:disabled) {
  border: 1px solid #00476d;
  box-shadow: inset 0 0 8px 4px #003d5d, inset 0 0 8px 4px #003d5d;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  input[type="button"].add:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .revoke {
  color: #646464;
  cursor: pointer;
}
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .revoke:hover,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .revoke:focus {
  color: #d44040;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  .action-type-container {
  margin-bottom: 40px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  .progress-link-wrapper {
  margin-top: 0.7em;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  .task-history-all-table {
  margin-top: 1em;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  .task-history-single-table {
  margin-top: 1em;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  .running-tasks-table {
  margin-top: 1em;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  input[type="text"] {
  width: 651px;
}
.instructor-dashboard-wrapper-2
  section.idash-section#student_admin
  .location-example {
  font-style: italic;
  font-size: 0.9em;
}
.instructor-dashboard-wrapper-2 section.idash-section#data_download input {
  margin-bottom: 1em;
  line-height: 1.3em;
}
.instructor-dashboard-wrapper-2
  section.idash-section#data_download
  #react-problem-report {
  margin: 20px 0;
}
.instructor-dashboard-wrapper-2
  section.idash-section#data_download
  .problem-browser
  input {
  max-width: 800px;
  width: 100%;
  margin-bottom: 0;
}
.enrollment-wrapper {
  margin-bottom: 40px;
}
.enrollment-wrapper table tr {
  height: 21px;
}
.enrollment-wrapper table tr td {
  width: 120px;
}
.enrollment-wrapper {
  margin-bottom: 40px;
}
.action-type-container p {
  line-height: 2;
}
.mb-15 {
  margin-bottom: 20px;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link {
  color: black;
}
.instructor-nav li.nav-item .btn-link:hover {
  text-decoration: none !important;
}

// override existing style mess
.view-instructordash {
  .main-container {
    main,
    .container {
      background-color: initial;
      max-width: initial;
      padding: initial;
      margin: initial;
    }
  }
}

