// ProblemBlockDisplay.scss override
// quiz/exam problem(s)

.unit {

  h3 {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 1.15;
    text-transform: uppercase;
  }

}

#main {

  .problem-progress {
    display: block;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--mono-900);
    text-transform: uppercase;
  }

  .problem {

    p,
    > label  {
      font-size: 1.125rem;
      line-height: 1.5
    }

    .course-quiz-reminder {
      padding: 1.4rem 0;
      border-top: 1px dashed var(--mono-300);
      border-bottom: 1px dashed var(--mono-300);
      margin: 1.4rem 0;

      h2 {
        font-weight: bold;

        &:before {
          content: "👋" "\00a0";
        }

      }

    }

    fieldset {
      margin-top: 1.4rem;
    }

  }

  .problem-action-btn {
    max-width: none;

    .show-label {
      text-transform: capitalize;
    }
  }

}
