/* line 261, lms/static/sass/base/_reset.scss */
.hide, .hidden {
  display: none !important;
  visibility: hidden;
}

/* line 266, lms/static/sass/base/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 277, lms/static/sass/base/_reset.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 287, lms/static/sass/base/_reset.scss */
.invisible {
  visibility: hidden;
}

/* line 126, lms/static/sass/base/_mixins.scss */
.sr,
.sr-only,
.nav-contents,
.nav-skip,
.transcript-skip {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: normal;
}

/* line 142, lms/static/sass/base/_mixins.scss */
.sr,
.sr-only {
  background: #fff;
  color: #000;
}
