---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
{# modified, via @https://willvincent.com/2022/07/27/redirects-with-11ty-and-netlify/ #}

{%- for id, course in courses -%}
{{ course.id | course_endpoint }}about  /courses/{{ course.title | slugify }}/  301
{{ course.id | course_endpoint }}info  /courses/{{ course.title | slugify }}/  301
{{ course.id | course_endpoint }}courseware  /courses/{{ course.title | slugify }}/  301
{%- if not loop.last -%}{{ '\n' }}{%- endif -%}
{%- endfor -%}
{{ '\n' }}
{%- for page in collections.all -%}
  {%- if page.url and page.data.meta.redirectFrom -%}
    {%- if page.data.meta.redirectFrom | is_string -%}
      {{ page.data.meta.redirectFrom }}  {{ page.url }}  {{ page.data.meta.redirectCode or '301' }}
      {%- if not loop.last -%}
        {{ '\n' }}
      {%- endif -%}
    {%- else %}
      {%- if page.data.meta.redirectFrom | is_object -%}
        {%- for oldUrl in page.data.meta.redirectFrom -%}
          {{ oldUrl }}  {{ page.url }}  {{ page.data.meta.redirectCode or '301' }}{{ '\n' }}
        {%- endfor -%}
      {%- else -%}
        {%- for oldUrl in page.data.meta.redirectFrom -%}
          {{ oldUrl }}  {{ page.url }}  {{ page.data.meta.redirectCode or '301' }}
          {%- if not loop.last -%}
            {{ '\n' }}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{#- Manual links below -#}
/login  /  301
/register  /  301
/dashboard  /  301
/account*  /  301
/u/*  /  301
/take5/* /courses/take5/:splat 301
/support/  /  301
/privacy-policy/  https://aquent.com/privacy-policy/  301
/privacy-policy/california-privacy-rights/  https://aquent.com/privacy-policy/california-privacy-rights  301
/privacy-policy/european-rights/  https://aquent.com/privacy-policy/european-rights  301
/privacy-policy/privacy-shield-notice/  https://aquent.com/privacy-policy/dpf-notice  301
