@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@include bg-colors;

// --- design systems ---

.collection.design-systems {

  main {
    padding-top: 0;
    overflow-x: hidden;

    .courses {
      margin-top: 1.4rem;
    }
  }

  .container > section {
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .header {
    .intro-about {
      margin-bottom: 8rem;

      @include breakpoint(large, min) {
        margin-bottom: 10rem;

        p + p {
          margin-top: 0;
        }
      }
    }

    // --- sections ---

    .course-card {
      background-repeat: no-repeat;

      .description {
        max-width: 28.5rem;
      }
    }

    #everyone,
    #product-managers {
      background-position: right 6rem;
      background-size: 22%;
    }

    #everyone {
      background-image: url("/img/collections/design-systems/illustrations/everyone.png");
    }

    #designers,
    #developers {
      background-position: right 5rem top 4.75rem;
      background-size: 16%;
    }

    #designers {
      background-image: url("/img/collections/design-systems/illustrations/designers.png");
    }

    #developers{
      background-image: url("/img/collections/design-systems/illustrations/developers.png");
    }

    #product-managers {
      background-image: url("/img/collections/design-systems/illustrations/product-managers.png");
    }

  }

  // --- sticky notes ---

  .sticky-notes {
    position: relative;
    top: 0.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-auto-rows: minmax(14rem, auto);
    gap: 1em 2rem;
    margin-bottom: -4rem;

    li {
      display: grid;
      justify-items: center;
      align-items: center;

      &:first-child {
        transform: rotate(-1deg);
      }

      &:nth-child(2) {
        transform: rotate(3deg) translateY(1rem);
      }

      &:nth-child(3) {
        transform: translateY(2rem);
      }

      &:last-child {
        transform: rotate(2deg) translateY(2.5rem);
      }

      @include breakpoint(large, min) {

        &:nth-child(2) {
          transform: rotate(3deg) translateY(4rem);
        }

        &:last-child {
          transform: rotate(2deg) translateY(0rem);
        }
      }

      a {
        color: var(--mono-900);

        b {
          font-family: var(--font-family-custom);
          font-size: rem-calc(25);
        }
      }
    }

  }

  // --- instructor ---

  #instructor {

    header {
      padding-bottom: 1.4rem;
      border-bottom: 1px solid var(--mono-300);
      margin-bottom: 1.4rem;
    }

    h3 {
      font-weight: 900;
      font-size: 1.4rem;
      line-height: 1.15;
      margin-bottom: 1.2rem;
    }

    p {
      max-width: 50rem;
      margin-top: 0.6rem;
      margin-bottom: 0;
    }

    @include breakpoint(medium, min) {

      & {
        overflow: hidden;
      }

      img {
        float: left;
        margin-right: 1.6rem;
      }
    }
  }

}
