// | -------------------------------------------------------------
// | This file is intended to only serve the Account MFE
// | -------------------------------------------------------------
@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@use 'shared';
@use 'base/visibility';
@use 'components/webfonts_absolute';

@use 'mfe/root';
@use 'mfe/layout';

.page__account-settings {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .h6, h6 {
    margin-bottom: .25rem;
    font-size: 1.1rem;
    margin-right: 1rem;
    display: inline-block;
  }

  p {
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 1rem;

    &-link {
      border: none;
      display: inline-block;
      line-height: inherit;
      padding: 0;
      background-color: transparent;
      color: var(--mono-900);
      font-family: var(--font-family-default);
      font-size: 0.875rem;
      font-weight: normal;
      border-radius: 0;
      text-decoration: underline;

      &:hover {
        background-color: transparent;
        color: var(--mono-700);
      }
    }

  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .account-section {
    padding-top: 1rem;
    margin-bottom: 3rem;
  }
}

// Certificate area
.pgn-transition-replace-group {
  text-align: start;
  transition: height .3s ease;
}

// H2
.edit-section-header {
  display: block;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  font-size: 1.2rem;
}


// Utility classes
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}

.position-relative {
  position: relative !important;
}

// .align-items-stretch {
//   align-items: stretch !important;
// }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Hide unused sections
#profile-information, #social-media, #site-preferences, #linked-accounts {
  display: none;
}

// Hide entire jump menu
.col-md-2 {
  display: none;
}

// Form element (Country) + element (with button elements siblings)
// Match form label font and weight
.pgn__form-group {

  label {
    font-family: var(--font-family-custom);
    font-weight: 700;
    margin-bottom: 1rem;
  }

  + * {
    margin-top: 1.2rem;
  }
}

svg {
  // pencil icon
  &.svg-inline--fa {
    margin-right: 0.33rem;
  }
}
