// | -------------------------------------------------------------
// | This file is intended to only serve the Learner Dashboard MFE
// | -------------------------------------------------------------
@use "base/breakpoints" as *;
@use "base/functions" as *;
@use "base/mixins" as *;
@use "base/fonts" as *;

@use 'shared';
@use 'base/visibility';
@use 'components/webfonts_absolute';

@use "mfe/root";
@use "mfe/flex";
@use "mfe/learner-dashboard/buttons";
@use 'mfe/layout';
@use 'mfe/modal';

.container-fluid {
  @include container;
}

// Course List Loading
.course-list-loading {
  // TODO: add back a spinner or something
  min-height: 50vh;
}

// Dashboard Heading
.course-list-heading-container {
  align-items: flex-start;
  // flex-direction: column-reverse;
  display: flex;
  justify-content: space-between;
  align-self: center;

  @include breakpoint(large, min) {
    align-items: center;
    flex-direction: row;
  }
}

.course-list-title {
  text-transform: uppercase;
}

// Course filter controls
.course-filter-controls-container {
  align-self: flex-start;

  @include breakpoint(medium, min) {
    align-self: flex-start;
  }
}

#course-filter-controls {
  display: flex;

  button {
    padding: 0.5rem 1rem;
    align-items: center;

    &[disabled] {
      display: none;
    }

    .btn-icon-before {
      margin-left: -0.25rem;
      margin-inline-end: 0.5rem;
    }
  }
}

// active filters
#course-list-active-filters-container {
}

#course-list-active-filters {
}

// Chip/Pill Buttons once filters are selected
.pgn__chip {
  background: var(--mono-600);
  color: var(--mono-100);
  border-radius: var(--global-button-radius);
  box-sizing: border-box;
  display: inline-flex;
  margin: 0 1rem 1rem 0;

  &__label {
    box-sizing: border-box;
    cursor: default;
    font-size: 1rem;
    overflow: hidden;
    padding: 0.125rem 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon-after,
  &__icon-before {
    border-radius: 0;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    // padding-left: 0.25rem;
    // padding-right: 0.25rem;
    line-height: 1;
  }

  svg {
    // width: rem-calc(24);
    // height: rem-calc(24);
    // fill: var(--mono-900);
    // color: var(--mono-900);
  }
}

.pgn__icon {
  // height: 1.25rem;
  // width: 1.25rem;
  // display: block;
  // flex-shrink: 0;
  // position: relative;

  // svg {
  //   display: block;
  //   height: 100%;
  //   max-height: 100%;
  //   max-width: 100%;
  //   position: relative;
  //   width: 100%;
  // }
}

// Course Filter button
.btn-outline-primary {
  border-color: var(--mono-900);
  color: var(--mono-900);
  border: rem-calc(1) solid var(--mono-900);
  padding: rem-calc(9 16);
  display: inline-flex;
}

// Filter popup (wide screens
.pgn__modal-popup__tooltip {
}

// Background of filter popup/overlay
.bg-white {
  background-color: var(--mono-100);
}

.pgn__form-group {
  margin-bottom: 1rem;
  text-align: start;
}

.pgn__form-control-set {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.pgn__form-checkbox,
.pgn__form-radio,
.pgn__form-switch {
  display: inline-flex;
  padding: 0.5rem 0;
}

.pgn__form-checkbox-input,
.pgn__form-radio-input,
.pgn__form-switch-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--mono-100);
  background-position: 50%;
  border: rem-calc(2) solid var(--mono-500);
  // border-radius: 0;
  height: rem-calc(20);
  margin-inline-end: 0.5rem;
  width: rem-calc(20);
  padding: 0;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.pgn__form-checkbox-input:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%230A3055' d='M21 3H3v18h18V3ZM10 17l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9Z'/%3E%3C/svg%3E");
}

.pgn__form-radio-input {
  border-radius: 100%;
}
.pgn__form-radio-input:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%230A3055'/%3E%3C/svg%3E");
}

.pgn__form-checkbox .pgn__form-label,
.pgn__form-radio .pgn__form-label,
.pgn__form-switch .pgn__form-label {
  align-items: center;
  display: flex;
  line-height: 1.25rem;
  margin-bottom: 0;
}

// breakpoint should match that set for the pgn sheet component
@include breakpoint(576, min) {
  #course-filter-controls-card {
    height: rem-calc(288);
    width: rem-calc(512);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);

    .filter-form-col {
      display: inline-block;
      width: rem-calc(256);
    }

    .filter-form-heading {
      font-size: rem-calc(18);
      font-weight: 700;
      margin-bottom: 0.25rem;
    }

    hr {
      width: rem-calc(1);
      margin-right: 1rem;
    }
  }
}

// TODO: add pgn sheet stuff for <= 575px
.sheet-container {
}

.pgn__sheet-component {
  box-shadow: rem-calc(8) 0 rem-calc(16) 0 rgba(0, 0, 0, 0.15);
  left: 0;
  height: 100%;
  top: 0;
  max-width: 75%;
  width: 75%;
  background-color: var(--mono-100);
  padding: 1.25rem;
  position: fixed;
  z-index: 1032;
}

.pgn__sheet-content {
  > :first-child {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  hr {
    margin-bottom: 1rem;
  }

  .filter-form-heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

.filter-form-row {

}

.pgn__modal-close-container {
  inset-inline-end: 1rem;
  position: absolute;
  top: 1rem;
  z-index: 10;
}

.pgn__modal-close-button {
  border-color: transparent;
  color: var(--mono-900);
  padding: 0.5rem;
  background-color: transparent;
}


// TODO: define style?

.btn-tertiary, .btn-tertiary:hover {

}

.btn-tertiary {

}

.unenroll {
  color: currentColor;
  background-color: transparent;
  border: dashed transparent;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    background-color: inherit;
    border: dashed transparent;
    text-decoration: none;
  }
}

// Course "Cards"
.course-card {
  border: 1px solid var(--mono-400);
  border-radius: 3px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  > .card {
    flex-direction: row;
    border: 0;
    width: 100%;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--mono-100);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;

    h3 {
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 0.0125ex;
      word-spacing: 0.25ex;
    }
  }
}

.pgn__card-wrapper-image-cap {
  position: relative;

  @include breakpoint(medium, min) {
    max-width: rem-calc(240);
    min-width: rem-calc(240);
  }

  img {
    height: 100%;
    max-width: inherit;
    object-fit: cover;
    width: 100%;
    display: block;
  }
}

// card body
.pgn__card {
  &-body {
    padding: 1.25rem;
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;

    &-content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      text-align: start;
      width: 100%;
    }

    &-actions {
      flex-shrink: 0;
      margin-inline-start: 1rem;
    }
  }

  &-section {
    flex-grow: 1;
    text-align: start;
    margin: 1rem 0 1.25rem;
    visibility: hidden; // Use to display other data, e.g. course topic/type?
  }

  &-footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    width: 100%;

//     @include breakpoint(medium, min) {
//       justify-content: flex-end;
//     }
  }
}

.dropdown {
  position: relative;
}

.pgn__action-row {
  button[disabled] {
    display: none;
    margin-right: 1rem;
  }
}

// Grade required to pass...
.course-card-banners {
}

.pgn__alert-message-wrapper {
  align-self: center;
}

.alert {
  border-radius: 0;
  box-shadow: none;
  padding: 1rem 1.5rem;
  background-color: var(--mono-300);
  // border-color: #bfdbea;
  color: inherit;
  display: flex;
  font-size: 1.05rem;
  line-height: 1.15rem;
  text-align: start;

  .alert-icon {
    flex-shrink: 0;
    height: 1.5rem;
    margin-inline-end: 0.8rem;
    width: 1.5rem;
  }
}

// 3 dot icon
.btn-icon {
  border: rem-calc(1) solid var(--mono-400);
  border-radius: 50%;
  display: inline-flex;
  height: 2.75rem;
  justify-content: center;
  padding: 0;
  width: 2.75rem;
  white-space: nowrap;
  position: relative;

  &.btn-icon-primary {
    background-color: transparent;
    color: var(--mono-900);
    cursor: pointer;
  }

  &__icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// dropdown
.dropdown-menu {
  background-clip: padding-box;
  background-color: var(--mono-100);
  border: rem-calc(1) solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  color: var(--mono-900);
  display: none;
  font-size: 1.125rem;
  list-style: none;
  margin: 0.125rem 0 0;
  min-width: 9rem;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  z-index: 1000;

  &.show {
    display: block;
    // float: right;
    // right: 0;
    // text-align: left;
  }
}

// 3 dot icon dropdown
.pgn__dropdown-item {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
  border: 0;
  color: var(--mono-900);
  padding: 0.25rem 1rem;
  white-space: nowrap;
  width: 100%;
}

// Hide sidebar (for now)
.sidebar-column {
  display: none;
}


// Unenroll course modal
.pgn__modal-content-container {

}
.pgn__modal-backdrop {
  background: var(--mono-900);
  bottom: 0;
  left: 0;
  opacity: 0.75;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.pgn__modal {
  padding: 1rem;

  // button wrapper
  .pgn__action-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}

// pagination when there are many courses
.pagination {
  display: inline-flex;
  gap: 1rem;

  .page-item {
    margin: 0;

    &.active {
      .btn {
        border: 1px solid var(--primary-500);
      }
    }

    &.disabled {
      .btn-icon {
        pointer-events: none;
        cursor: not-allowed;
        border-color: var(--mono-400);
      }
    }
  }

  .btn-icon {
    border-color: var(--mono-700);

    &:hover {
      border-color: var(--mono-900);
    }
  }

  .btn {
    padding: 0.66rem 1rem;
    background-color: var(--mono-100);
    border: 1px solid var(--mono-300);
    color: var(--mono-900);
  }
}

#no-courses-content-view {
  display: block;

  h1 {
    font-size: 2rem;
  }
}
