// | -------------------------------------------------------------
// | This file is intended to only serve the Profile MFE
// | -------------------------------------------------------------
@use 'base/breakpoints' as *;
@use 'base/functions' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;

@use 'shared';
@use 'base/visibility';
@use 'components/webfonts_absolute';

@use 'mfe/flex';
@use 'mfe/root';

.profile-page {
  .container-fluid {
    // constrain layout width
    @include container;

    // hide one "version" of the name/member since
    > .row > .col {
      display: none;
    }
  }
}

h1 {
  font-size: 2rem;
}


.profile-page-bg-banner {
  display: none;

  @include breakpoint(medium, min) {
    background-image: unset;
    background-color: unset;
    background: var(--mono-400);
    height: 8.75rem;
    display: block;
  }
}

.profile-avatar-wrap {
  margin-top: 1rem;

  @include breakpoint(medium, min) {
    margin-bottom: 2rem;
    margin-top: -7.75rem;
    max-width: 12rem;
  }

  form {
    display: none;
  }

  
}

.profile-avatar {
  height: 5rem;
  position: relative;
  width: 5rem;

  @include breakpoint(medium, min) {
    height: 12rem;
    width: 12rem;
  }
}

.rounded-circle {
  border-radius: 50%;
}

.bg-light {
  background-color: var(--mono-100);
}

.username-description {
  left: 1.5rem;
  margin-left: 1rem;
  color: var(--mono-500);
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: 0;
  width: auto;
}

.pgn__icon {
  display: block;
  flex-shrink: 0;
  height: 1rem;
  position: relative;
  width: 1rem;

  svg {
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
}

.icon-visibility-off {
  color: var(--mono-500);
  height: 1rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-muted {
  color: var(--mono-500);
}

.alert-info {
  display: none;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

// certificate grid
.row.align-items-stretch {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;

  @include breakpoint(medium, min) {
    grid-template-columns: 1fr 1fr;
  }
  
  .col {
    max-width: 100%;
  }
}

.card {
  width: 100%;
  border: rem-calc(1) solid var(--mono-400);
  border-radius: rem-calc(3);
  background-color: var(--mono-100);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;

  // hide...
  > {
    p.h6.mb-4,
    p.small.mb-0 {
      display: none;
    }
  }
}

// icon in "view certificate" button
.pgn__hyperlink__external-icon {
  margin-left: 1rem;
}
