---js
{
  layout: "full-width",
  pagination: {
    data: "courses",
    size: 1,
    alias: "item",
    resolve: "values",
    before: (data) => {
      const items = data.filter(x => x.tags.includes('course'));
      // console.log(items);
      return items;
    },
    addAllPagesToCollections: true,
  },
  permalink: "courses/{{ item.title | slugify }}/",
  eleventyComputed: {
    nav: {
      parent: "/courses/",
      secondary: "courses",
      secondaryParent: (data) => {
        return `/courses/${data.item.path_slug}/`;
      },
    },
    meta: {
      bodyClass: (data) => {
        const slug = data.item.title.toLowerCase().replaceAll(' ','-');
        return `course-about ${data.item.path_slug} ${slug} ${data.item.id.toLowerCase()}`;
      },
      img: (data) => {
        return `${data.config.main.paths.img.og}courses/${data.item.id.toLowerCase()}.png`;
      },
      title: "{{ item.title }} | Courses",
      description: "{{ item.description | strip_html }}",
      sitemapDate: "{{ item.date.toISOString() }}",
      sitemapExclude: (data) => {
        const bool = data.item.sitemapExclude ? data.item.sitemapExclude : false;
        return bool;
      },
      redirectFrom: (data) => {
        const redirect = data.item.redirectFrom ? data.item.redirectFrom : false;
        return redirect;
      },
      schema: {
        type: "course"
      }
    },
  },
}
---

<article class="course-about">
  <header id="{{ item.id | lower }}" class="course-header bg-{{ item.color }}">
    <div class="container grid-col-1-2">
      <figure>
        <img
          alt="{{ item.title }} course illustration."
          src="{{ item.img }}"
          decoding="async"
          fetchpriority="high"
          width="574"
          height="488"
        >
      </figure>
      <div class="course-metabar">
        <hgroup class="course-title">
          <p class="topic caps">{{ item.topic }}</p>
          <h1>{{ item.title }}</h1>
          <p class="course-id" hidden><small>{{ item.id }}</small></p>
        </hgroup>
        <div>
          <p class="course-type caps">{{ course_type[item.type].name }}</p>
          <p class="course-skill-level">{{ item.skill_level }}</p>
        </div>
      {# For live courses showing an advance course retirement notice #}
      {%- if (item.live) and (item.retired_message.pre) -%}
        {%- if item.retired_message.pre -%}
          <p>{{ item.retired_message.pre | safe }}</p>
        {%- endif -%}
      {%- endif -%}

      {# For non-live courses displaying a post retirement notice #}
      {%- if (not item.live) and (item.retired_message.post) -%}
        {%- if item.retired_message.post -%}
          <p>{{ item.retired_message.post | safe }}</p>
        {%- endif -%}
      {%- endif -%}

        <div class="course-cta">
          {%- if item.playlist -%}
            <a href="#playlist" class="btn">View the course</a>
          {%- else -%}
            {%- if (item.live) -%}
            <a href="{{ item.id | course_endpoint('learning') }}" class="btn">Go to Class</a>
            {%- else -%}
            <button disabled class="disabled">Enrollment is Closed</button>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </header>

  <div class="container grid-sidebar">
    <div class="content">
      <div class="course-intro">
        {%- if item.intro -%}
          <p>{{ item.intro | safe }}</p>
        {%- endif -%}
      </div>

      {%- if item.preview_video_id -%}
      <section class="course-preview">
        <h2>{{ config.main.msg.mfe.course_about.headings.preview }}</h2>

        {# TODO: fix shortcode to support all the embed variations #}
        {%- youtube item.preview_video_id, item.title + ' Preview' -%}

      </section>
      {%- endif -%}

      <section class="course-about">
        <h2>{{ item.title }}</h2>
        {{ item.about | safe }}
      </section>

      <section class="course-outline">
        <h2>{{ config.main.msg.mfe.course_about.headings.outline }}</h2>
        {%- if item.outline -%}
        <ul>
          {%- for idx in range(0, item.outline.length) -%}
          <li>
            <h3>{{ item.outline[idx].label }}</h3>
            <p>{{ item.outline[idx].description }}</p>
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </section>

      {%- if item.prerequisites -%}
      <section class="course-prerequisites">
        <h2>{{ config.main.msg.mfe.course_about.headings.prerequisites }}</h2>
        {%- if item.prerequisites | is_object -%}
          <ul>
          {%- for idx in range(0, item.prerequisites.length) -%}
            <li>{{ item.prerequisites[idx].label | safe }}</li>
          {%- endfor -%}
          </ul>
        {%- else -%}
          {{ item.prerequisites | safe }}
        {%- endif -%}
      </section>
      {%- endif -%}

      {%- if item.requirements -%}
      <section class="course-requirements">
        <h2>{{ config.main.msg.mfe.course_about.headings.requirements }}</h2>
        {%- if item.requirements | is_object -%}
          <ul>
          {%- for idx in range(0, item.requirements.length) -%}
            <li>{{ item.requirements[idx].label | safe }}</li>
          {%- endfor -%}
          </ul>
        {%- else -%}
          {{ item.requirements | safe }}
        {%- endif -%}
      </section>
      {%- endif -%}

      {%- if item.playlist -%}
        <section id="playlist" class="playlist">
          <h2>View the Course</h2>
          {%- youtube item.playlist -%}
        </section>
      {%- endif -%}

    </div>
    <aside>
      {%- if item.audience -%}
      <section class="course-audience">
        <h2>{{ config.main.msg.mfe.course_about.headings.audience }}</h2>
        <ul>
          {%- for idx in range(0, item.audience.length) -%}
          <li>{{ item.audience[idx].label }}</li>
          {%- endfor -%}
        </ul>
      </section>
      {%- endif -%}

      {%- if item.instructor -%}
      <section class="course-instructor">
        <h2>{{ config.main.msg.mfe.course_about.headings.instructor }}</h2>
        <img src="{{ bios[item.instructor].img }}" alt="Image of {{ bios[item.instructor].name }}">
        <h3>{{ bios[item.instructor].name }}</h3>
        <p>{{ bios[item.instructor].description | safe }}</p>

        {%- if bios[item.instructor].extended_description -%}
          {{ bios[item.instructor].extended_description | safe }}
        {%- endif -%}
      </section>
      {%- endif -%}
    </aside>
  </div>
</article>
