---js
{
  layout: "layouts/full-width.njk",
  permalink: "/courses/",
  meta: {
    title: "Courses",
    sitemapPriority: 0.7,
    sitemapChangeFreq: "weekly",
  },
  collection: "course",
  nav: {
    secondary: "courses",
  },
  header: {
    heading: "Courses",
    subheading: "Free online courses and tutorials.",
    content: "Learn design, development, accessibility, prototyping, UX, and career skills from industry experts.",
  },
  cta: "View All",
  full: {
    heading: "Full Courses",
    subheading: "Learn new skills in a day or less and earn a certificate.",
  },
  shorts: {
    heading: "Gym Shorts",
    subheading:  "Learn new skills in a few hours or less and earn a badge.",
  },
  tutorials: {
    heading: "Take 5 Tutorials",
    subheading: "Learn new skills in 5 minutes or less.",
  },
  content_collections: {
    heading: "Collections",
    subheading: "Explore specific topics with free courses, tutorials, resources, and jobs.",
    description: "Learn how to effectively integrate pattern libraries and design systems into your organization’s workflow.",
  },
  eleventyComputed: {
    collects: (data) => {
      const filtered = data.collections.collection.filter(item => !item.meta.exclude);
      const sorted = filtered.sort((a, b) => {
        return Math.sign(a.meta.order - b.meta.order);
      });
      return sorted;
    },
    meta: {
      img: (data) => {
        return `${data.config.paths.img.og}courses/index.png`;
      },
    }
  }
}
---
{%- include 'modules/courses/header.njk' -%}

<div class="container">
  <article class="course-card course">
    <header>
      <h2>{{ full.heading }}</h2>
      <p>{{ full.subheading }} <strong><a href="/courses/full/">{{ cta }} {{ full.heading }}</a></strong></p>
    </header>
    <div>
      <section>
        <h3>Featured</h3>
        {%- set module = collections.live_courses_full | pluck('id', 'GYM-107') -%}
        {%- set module = module[0] -%}
        {%- include 'modules/panels/course-card.njk' -%}
      </section>
      {%- set info = pages['full'].info -%}
      {%- if info -%}
      <div class="list-summary">
        {% for item in info %}
        <dl>
          <dt>{{ item.title }}</dt>
          {% for subitem in item.items %}
          <dd>{{ subitem.label }}</dd>
          {% endfor %}
        </dl>
        {% endfor %}
      </div>
      {%- endif -%}
    </div>

  </article>

  <article class="course-card course">
    <header>
      <h2>{{ shorts.heading }}</h2>
      <p>{{ shorts.subheading }} <strong><a href="/courses/gym-shorts/">{{ cta }} {{ shorts.heading }}</a></strong></p>
    </header>
    <div>
      <section>
        <h3>Featured</h3>
        {%- set module = collections.live_courses_short | pluck('id', 'GYM-017') -%}
        {%- set module = module[0] -%}
        {%- include 'modules/panels/course-card.njk' -%}
      </section>
      {%- set info = pages['gym_shorts'].info -%}
      {%- if info -%}
      <div class="list-summary">
        {% for item in info %}
        <dl>
          <dt>{{ item.title }}</dt>
          {% for subitem in item.items %}
          <dd>{{ subitem.label }}</dd>
          {% endfor %}
        </dl>
        {% endfor %}
      </div>
      {%- endif -%}
    </div>
  </article>

  <article class="course-card tutorial">
    <header>
      <h2>{{ tutorials.heading }}</h2>
      <p>{{ tutorials.subheading }} <strong><a href="/courses/take5/">{{ cta }} {{ tutorials.heading }}</a></strong></p>
    </header>
    <div>
      <section>
        <h3>Featured</h3>
        {%- set module = collections.live_tutorials | pluck('id', 'GYM-5059') -%}
        {%- set module = module[0] -%}
        {%- include 'modules/panels/tutorial-card.njk' -%}
      </section>
      {%- set info = pages['take5'].info -%}
      {%- if info -%}
      <div class="list-summary">
        {% for item in info %}
        <dl>
          <dt>{{ item.title }}</dt>
          {% for subitem in item.items %}
          <dd>{{ subitem.label }}</dd>
          {% endfor %}
        </dl>
        {% endfor %}
      </div>
      {%- endif -%}
    </div>
  </article>

  <article class="course-card collection">
    <header>
      <h2>{{ content_collections.heading }}</h2>
      <p>{{ content_collections.subheading }} <strong><a href="/collections/"> {{ cta }} {{ content_collections.heading }}</a></strong></p>
    </header>
    <div>
      <section>
        <h3>Featured</h3>
        {%- set collection = collection['COL-008'].meta -%}
        {%- include 'modules/panels/partial-collection.njk' -%}
      </section>
      <div class="list-summary">
        <dl>
          <dt>Content Collections</dt>
          {%- for collect in collects -%}
            <dd><a href="/{{ collect.meta.slug }}/">{{ collect.meta.title }}</a></dd>
          {%- endfor -%}
        </dl>
      </div>
    </div>
  </article>
</div>
